.sidebar {
  position: fixed;
  width: 280px;
  height: 100%;
  border-right: 1px solid rgb(235, 235, 235);
  overflow: auto;
  z-index: 999;
}

.logo {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
  cursor: pointer;
}

.logo-img {
  width: 5em;
  height: 5rem;
  overflow: hidden;
  animation: spin 3s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.logo > span {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
}

.link {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #fff;
  font-weight: 400;
}

.link-active {
  color: var(--light);
  background-color: var(--primary);
}

main {
  flex: 1;
  margin-left: 280px;
}

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  color: var(--light);
  background-color: var(--primary);
  font-weight: 300;
  z-index: 100;
}

.left-header,
.right-header,
.name,
.menu-icon,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.close {
  display: none;
}

.location {
  font-size: clamp(1rem, 0.9787rem + 0.7317vw, 1.5rem);
  font-weight: 300;
}

.profile {
  position: relative;
  gap: 0.5rem;
}

.name {
  gap: 0.25rem;
  cursor: pointer;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.type span {
  font-size: 0.875rem;
  font-weight: 300;
}

.type div {
  font-size: 0.75rem;
  font-weight: 300;
}

.dropdown {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--primary);
  background-color: var(--light);
  z-index: 999;
}

.dropdown-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
}

.arrow {
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

span {
  user-select: none;
}

.arrow-active {
  transform: rotate(-180deg);
}

.dropdown-active {
  display: flex;
}

.badge {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--light);
  background-color: var(--red);
  font-size: 0.875rem;
}

@media screen and (max-width: 992px) {
  .sidebar {
    width: 100%;
    background-color: var(--light);
    transition: transform 300ms ease-in;
  }

  .logo {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  nav {
    position: relative;
    min-height: 100vh;
    padding-top: 4.25rem;
    background-color: var(--light);
  }

  .close {
    position: absolute;
    display: block;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
  }

  .hide {
    transform: translateX(-100%);
  }

  .overflow-hidden {
    overflow: hidden;
  }

  main {
    margin-left: 0;
  }

  .name {
    display: none;
  }
}
