<main>
  <div class="actions">
    <div class="btn-actions">
      <button class="btn-clear" (click)="onClear()">
        <span class="material-symbols-rounded"> restart_alt </span>CLEAR
      </button>
    </div>
    <div class="filter-container">
      <p-dropdown
        [options]="categories"
        placeholder="Filter by category"
        [style]="{
          width: '100%',
          minWidth: '16rem',
            }"
        appendTo="body"
        [(ngModel)]="categorySelected"
        (ngModelChange)="onCategoryChange($event)"
      ></p-dropdown>

      <div class="search-container">
        <span class="material-symbols-rounded"> search </span>
        <input
          type="text"
          pInputText
          placeholder="Search"
          [style]="{
            width: '100%',
            minWidth: '16rem',
            paddingLeft: '2.75rem'
          }"
          placeholder="Search"
          [(ngModel)]="search"
          (ngModelChange)="onSearchChange($event)"
        />
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let acceptedOffer of acceptedOffers">
      <div class="card-img-container">
        <div class="img-container">
          <img
            src="{{
              acceptedOffer.offer.advertisement.image ||
                '../../../../../../../assets/images/no-image.jpg'
            }}"
            alt="Crop"
          />
        </div>

        <ng-container *ngIf="acceptedOffer.paidDate != null">
          <button
            class="btn-transaction"
            (click)="onViewTransaction(acceptedOffer.transactionId)"
          >
            <span class="material-symbols-rounded"> payments </span>View
            Transaction
          </button>
        </ng-container>

        <ng-container *ngIf="acceptedOffer.paidDate == null">
          <button class="btn-awaiting-payment" style="cursor: not-allowed">
            <span class="material-symbols-rounded"> payments </span>Awaiting
            Payment
          </button>
        </ng-container>
      </div>
      <div class="card-content">
        <div>
          <div class="title">Supplier Name</div>
          <div class="data" style="text-transform: capitalize;">
            {{ acceptedOffer.supplier.firstName }}
            {{ acceptedOffer.supplier.middleName }}
            {{ acceptedOffer.supplier.lastName }}
            <span style="text-transform: uppercase;">
              {{ acceptedOffer.supplier.suffix }}
            </span>
          </div>
        </div>
        <div>
          <div class="title">Supplier Contact Number</div>
          <div class="data">{{ acceptedOffer.supplier.contact }}</div>
        </div>
        <div>
          <div class="title">Crop Name</div>
          <div class="data">{{ acceptedOffer.offer.advertisement.name }}</div>
        </div>
        <div>
          <div class="title">Category</div>
          <div class="data">
            {{ acceptedOffer.offer.advertisement.category }}
          </div>
        </div>
        <div>
          <div class="title">Description</div>
          <p class="data">
            {{ acceptedOffer.offer.advertisement.description }}
          </p>
        </div>
        <div>
          <div class="title">
            {{
              acceptedOffer.offer.advertisement.measurement === "Weight"
                ? "Weight"
                : "Quantity"
            }}
          </div>
          <div class="data">
            {{ acceptedOffer.offer.value }}
            {{
              acceptedOffer.offer.advertisement.measurement === "Weight"
                ? "kg"
                : ""
            }}
          </div>
        </div>
        <div>
          <div class="title">Price</div>
          <p class="data">
            {{
              acceptedOffer.offer.price | currency : "PHP" : "symbol" : "1.2-2"
            }}
          </p>
        </div>
        <div>
          <div class="title t1">Date Accepted</div>
          <p class="data d1">
            {{
              acceptedOffer.acceptDate | date : "MMMM d, y"
            }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination" *ngIf="acceptedOffers.length > 0">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="5"
      [totalRecords]="totalOffers"
    ></p-paginator>
  </div>

  <ng-container *ngIf="acceptedOffers.length === 0">
    <div class="empty">
      <div class="empty-img-container">
        <img
          src="{{ '../../../../../assets/images/no-content.png' }}"
          class="error-image"
        />
      </div>
      <p class="empty-message">No accepted offers to display</p>
    </div>
  </ng-container>
</main>
