<div class="container">
  <form>
    <mat-icon>search</mat-icon>
    <input type="text" placeholder="Search anything here" />
    <p-button label="Search" (click)="search()"></p-button>
  </form>
</div>

<div class="card flex justify-content-center">
  <div class="farming-tips-container">
    <p-card
      header="Farming Tips"
      subheader="Enhance your farming skills"
      class="farming-tips"
    >
      <p class="featured-tips-video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/mJ-MeA-W1Ts?si=zjZY2-M52GoJi4UA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
      </p>

      <div class="featured-tips-content">
        <div class="small-heading gray">
          <span><i class="fa fa-circle yellow"></i></span>
          Welcome to the future of Technology
        </div>
        <div class="featured-tips-title">
          <h3>getting started with C++ programming for beginners</h3>
        </div>
        <div class="featured-tips-desc">Lorem ipsum</div>
        <div class="featured-tips-icons-container">
          <div class="icons-row">
            <div class="icon-heading">
              <span><i class="fa fa-check-circle blue"></i></span>
              Fundamentals.
            </div>
            <div class="icon-heading">
              <span><i class="fa fa-check-circle-blue"></i></span>
              OOP's Concept.
            </div>
          </div>
          <div class="icons-row">
            <div class="icon-heading">
              <span><i class="fa fa-check-circle-blue"></i></span>
              Functional Programming.
            </div>
          </div>
          <div class="icon-heading">
            <span><i class="fa fa-check-circle-blue"></i></span>
            Game Projects.
          </div>
        </div>
      </div>
      <p-button
        label="View More"
        routerLink="/farmer/farming-tips"
        class="tips-button"
      ></p-button>
    </p-card>
  </div>
</div>

<div class="card flex justify-content-center">
  <p-card
    header="Courses"
    subheader="Learn something"
    routerLink="/farmer/courses"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/usercard.png"
      />
    </ng-template>
    <p-button label="View" routerLink="/farmer/courses"></p-button>
  </p-card>

  <p-card
    header="Posts"
    subheader="Learn something"
    routerLink="/farmer/advertisement"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/usercard.png"
      />
    </ng-template>
    <p-button label="View" routerLink="/farmer/advertisement"></p-button>
  </p-card>

  <p-card
    header="Sell Product"
    subheader="Learn something"
    routerLink="/farmer/sell-product"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/usercard.png"
      />
    </ng-template>
    <p-button label="View" routerLink="/farmer/sell-product"></p-button>
  </p-card>

  <p-card
    header="Complaints"
    subheader="Learn something"
    routerLink="/farmer/complaints"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/usercard.png"
      />
    </ng-template>
    <p-button label="View" routerLink="/farmer/complaints"></p-button>
  </p-card>

  <p-card
    header="Payments"
    subheader="Learn something"
    routerLink="/farmer/payments"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/usercard.png"
      />
    </ng-template>
    <p-button label="View" routerLink="/farmer/payments"></p-button>
  </p-card>

  <p-card
    header="History"
    subheader="Learn something"
    routerLink="/farmer/history"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://primefaces.org/cdn/primeng/images/usercard.png"
      />
    </ng-template>
    <p-button label="View" routerLink="/farmer/history"></p-button>
  </p-card>
</div>
