<main>
  <div class="card">
    <p-card
      header="Farming Tips"
      subheader="Enhance your farming skills"
      class="farming-tips"
    >
      <div class="featured-tips-container">
        <div class="featured-tips-video">
          <iframe
            src="https://www.youtube.com/embed/mJ-MeA-W1Ts?si=zjZY2-M52GoJi4UA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>

        <div class="featured-tips-content">
          <div class="small-heading gray">
            <span><i class="material-icons primary-circle">lens</i></span>
            Welcome to the Future of Agriculture
          </div>
          <div class="featured-tips-title">
            <h3>getting started with farming</h3>
          </div>
          <div class="featured-tips-desc">MEET MORENO</div>
          <div class="featured-tips-icons-container">
            <div class="icons-row">
              <div class="icon-heading">
                <span
                  ><i class="material-icons blue-check-circle">check_circle</i>
                </span>
                Fundamentals.
              </div>
              <div class="icon-heading">
                <span
                  ><i class="material-icons blue-check-circle"
                    >check_circle</i
                  ></span
                >
                Farming Concept.
              </div>
            </div>
            <div class="icons-row">
              <div class="icon-heading">
                <span
                  ><i class="material-icons blue-check-circle"
                    >check_circle</i
                  ></span
                >
                Functional Tools.
              </div>

              <div class="icon-heading">
                <span
                  ><i class="material-icons blue-check-circle"
                    >check_circle</i
                  ></span
                >
                Agriculture Projects.
              </div>
            </div>
          </div>

          <p-button
            label="View More"
            routerLink="/farmer/farming-tips"
            class="tips-button"
          ></p-button>
        </div>
      </div>
    </p-card>
  </div>

  <div class="card-container">
    <p-card
      header="Courses"
      subheader="Learn something new"
      routerLink="/farmer/courses"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p-button label="View" routerLink="/farmer/courses"></p-button>
    </p-card>

    <p-card
      header="Advertisements"
      subheader="Check new posts from suppliers"
      routerLink="/farmer/advertisements"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p-button label="View" routerLink="/farmer/advertisements"></p-button>
    </p-card>

    <p-card
      header="My Offers"
      subheader="Check your bids"
      routerLink="/farmer/my-offers"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p-button label="View" routerLink="/farmer/my-offers"></p-button>
    </p-card>

    <p-card
      header="Accepted Offers"
      subheader="Manage offers"
      routerLink="/farmer/accepted-offers"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p-button label="View" routerLink="/farmer/accepted-offers"></p-button>
    </p-card>

    <p-card
      header="Complaints"
      subheader="Report something"
      routerLink="/farmer/complaints"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p-button label="View" routerLink="/farmer/complaints"></p-button>
    </p-card>

    <p-card
      header="History"
      subheader="Learn something"
      routerLink="/farmer/history"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p-button label="View" routerLink="/farmer/history"></p-button>
    </p-card>
  </div>
</main>
