<main>
  <div class="actions">
    <div class="btn-actions">
      <button class="btn-clear" (click)="onClear()">
        <span class="material-symbols-rounded"> clear </span>CLEAR
      </button>
    </div>
    <div class="filter-container">
      <div class="search-container">
        <span class="material-symbols-rounded icon"> search </span>
        <input
          type="text"
          pInputText
          placeholder="Search"
          [style]="{
            width: '100%',
            minWidth: '16rem',
            paddingLeft: '2.75rem'
          }"
          placeholder="Search"
          [(ngModel)]="search"
          (ngModelChange)="onSearchChange($event)"
        />
      </div>
    </div>
  </div>
  <div class="table">
    <div class="empty" *ngIf="empty">
      <div class="empty-img-container">
        <img
          src="{{ '../../../../../assets/images/no-content.png' }}"
          class="error-image"
        />
      </div>
      <p class="empty-message">No farming tips to display</p>
    </div>

    <p-table
      *ngIf="!empty"
      [value]="tips"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '80rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
      paginatorDropdownAppendTo="body"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%">Image</th>
          <th style="width: 30%">Subject</th>
          <th style="width: 50%">Farming Tip</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tip>
        <ng-container *ngIf="tip.status">
          <tr>
            <td>
              <div class="tip-wrapper">
                <div class="tip-container">
                  <img
                    src="{{
                      tip.image || '../../../../../assets/images/no-image.jpg'
                    }}"
                  />
                </div>
              </div>
            </td>
            <td>{{ tip.subject }}</td>
            <td>{{ tip.tip }}</td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </div>
</main>
