<main>
  <ng-container *ngIf="transactions.paidDate != null">
    <div class="card-container" >
      <div class="card flex justify-content-center" style="margin-bottom: 0px">
        <p-card header="This transaction was paid.">
          <div class="card-content-offer">
            <div>
              <div>
                <div class="m-1">Payment Reference Number</div>
                <div class="m-2">{{ paymentDetails?.paymentIdRef }}</div>
              </div>
            </div>
          </div>
  
          <ng-template pTemplate="title">
            <span
              class="material-symbols-rounded"
              style="
                color: var(--darker-primary);
                justify-content: center;
                align-items: center;
              "
            >
              done
            </span>
          </ng-template>
        </p-card>
      </div>
      <div class="role-container">
        <div class="card flex justify-content-center">
          <p-card header="Delivery Address">
            Order will be shipped to:
            <p class="m-0">
              {{ suppliers?.firstName }} {{ suppliers?.middleName }}
              {{ suppliers?.lastName }}
              {{ suppliers?.suffix }}
            </p>
  
            <ng-template pTemplate="title">
              <span
                class="material-symbols-rounded"
                style="
                  color: var(--darker-primary);
                  justify-content: center;
                  align-items: center;
                "
              >
                location_on
              </span>
            </ng-template>
  
            <ng-template pTemplate="content">
              <p class="contact" style="font-weight: 500">
                {{ suppliers?.contact }}
              </p>
              {{ suppliers?.unit }} {{ suppliers?.street }},
              {{ suppliers?.village }}, {{ suppliers?.barangay }}
              {{ suppliers?.city }}, {{ suppliers?.region }}
            </ng-template>
          </p-card>
        </div>
  
        <div class="card1 flex justify-content-center">
          <p-card header="Order Details">
            <div class="card-content-offer">
              <div></div>
              <div>
                <div>
                  <div class="m-1">Order Reference Number</div>
                  <div class="m-2">{{ payment?.orderIdRef }}</div>
                </div>
                <div>
                  <div class="m-1">Order Date</div>
                  <div class="m-2">
                    {{ payment?.paymentDate | date : "MMMM d, y" }}
                    {{ payment?.paymentTime }}
                  </div>
                </div>
                <div>
                  <div class="m-1">Payment Method</div>
                  <div class="m-2">{{ payment?.paymentMode }}</div>
                </div>
                <div>
                  <div class="m-1">Estimated Delivery</div>
                  <div class="m-2">
                    <ng-container *ngIf="transactions.deliverDate == null">
                      This will be updated
                    </ng-container>
  
                    <ng-container *ngIf="transactions.deliverDate != null">
                      {{ transactions?.deliverDate | date : "MMMM d" }} to
                      {{
                        transactions.deliverDate | dateAdd : 3 | date : "MMMM d"
                      }}
                    </ng-container>        
                  </div>
                </div>
              </div>
            </div>
  
            <ng-template pTemplate="title">
              <span
                class="material-symbols-rounded"
                style="
                  color: var(--darker-primary);
                  justify-content: center;
                  align-items: center;
                "
              >
                info
              </span>
            </ng-template>
            <div style="display: flex; justify-content: flex-end">
              <ng-container *ngIf="transactions?.deliverDate === null">
                <button (click)="onAddDeliveryDate()">
                  <span
                    class="material-symbols-rounded"
                    style="color: var(--light); padding-right: 10px"
                  >
                    add</span
                  >Add Delivery Date
                </button>
              </ng-container>
            </div>
          </p-card>
        </div>
  
        <div class="card flex justify-content-center">
          <p-card header="Order Summary">
            <p class="m-0"></p>
  
            <ng-template pTemplate="title">
              <span
                class="material-symbols-rounded"
                style="
                  color: var(--darker-primary);
                  justify-content: center;
                  align-items: center;
                "
              >
                receipt_long
              </span>
            </ng-template>
  
            <ng-template pTemplate="content">
              <div class="card-offer">
                <div class="img-container-offer">
                  <img class="img-offer" [src]="post.image" alt="Crop" />
                </div>
                <div class="card-content-offer">
                  <div>
                    <div>
                      <div class="title-offer">Crop Name</div>
                      <div class="data-offer">{{ post.name }}</div>
                    </div>
                    <div>
                      <div class="title-offer">Category</div>
                      <div class="data-offer">
                        {{ post.category }}
                      </div>
                    </div>
                    <div>
                      <div class="title-offer">Description</div>
                      <p class="data-offer">
                        {{ post.description }}
                      </p>
                    </div>
                    <div>
                      <div class="title-offer">
                        {{
                          offers.measurement === "Weight" ? "Weight" : "Quantity"
                        }}
                      </div>
                      <div class="data-offer">
                        {{ offers.value }}
                        {{ offers.measurement === "Weight" ? "kg" : "" }}
                      </div>
                    </div>
                    <div>
                      <div class="title-offer t1">Price</div>
                      <p class="data-offer d1">₱ {{ post.price }}</p>
                    </div>
                  </div>
                </div>
              </div>
  
              <div
                class="card-content-offer"
                style="
                  margin: 20px;
                  justify-content: center;
                  margin-left: 100px;
                  line-height: 30px;
                "
              >
                <div>
                  <div>
                    <div class="m-1">Subtotal</div>
                    <div class="m-1">₱ {{ offers.price }}</div>
                  </div>
                  <div>
                    <div class="m-1">Shipping</div>
                    <div class="m-1">(wala pa data)</div>
                  </div>
                  <div>
                    <div class="m-1">Total</div>
                    <div class="m-2">₱ {{ offers.price }}</div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactions.paidDate == null">
    <div class="card-container" >
      <div class="card flex justify-content-center" style="margin-bottom: 0px">
        <p-card header="This transaction is not yet paid.">
          <div class="card-content-offer">
            <div>
              <div>

              </div>
            </div>
          </div>
  
          <ng-template pTemplate="title">
            <span
              class="material-symbols-rounded"
              style="
                color: var(--darker-primary);
                justify-content: center;
                align-items: center;
              "
            >
              done
            </span>
          </ng-template>
        </p-card>
      </div>
    </div>
  </ng-container>
</main>

<p-dialog
  [(visible)]="addDeliveryDialog"
  [modal]="true"
  [breakpoints]="{ '600px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="dialog-title">Delivery Date</div>
  </p-header>
  <div class="dialog-body">
    <form [formGroup]="transactionsForm">
      <div class="input-group">
        <label>Delivery Date<span class="required">*</span></label>
        <p-calendar
          [style]="{
            width: '100%',
          }"
          appendTo="body"
          [showIcon]="true"
          formControlName="deliverDate"
        ></p-calendar>
        <div
          *ngIf="
            deliverDate.invalid && (deliverDate?.dirty || deliverDate.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="deliverDate?.errors?.['required']"
            >Delivery date is required</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="deliverDate?.errors?.['pastDate']"
            >You cannot select past date</small
          >
        </div>
      </div>
    </form>
  </div>
  <div class="dialog-actions">
    <button class="dialog-btn cancel" (click)="onCancelDeliveryDialog()">
      Cancel
    </button>
    <button class="dialog-btn submit" (click)="onConfirmDeliveryDialog()">
      Confirm
    </button>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="confirmDeliveryDialog"
  [modal]="true"
  [breakpoints]="{ '600px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="dialog-title">Delivery Date Confirmation</div>
  </p-header>
  <div class="dialog-body">
    Are you sure you want to proceed with the delivery date?
  </div>
  <div class="dialog-actions">
    <button class="dialog-btn cancel" (click)="onCancelConfrimDeliveryDialog()">
      No
    </button>
    <form [formGroup]="transactionsForm" (ngSubmit)="onSubmit()">
      <button class="dialog-btn submit">Yes</button>
    </form>
  </div>
</p-dialog>
