<section>
  <div class="container">
    <div class="hero-content">
      <h1
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        Welcome to Our Thriving Farming Community
      </h1>
      <p
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="300"
        data-aos-easing="ease-in-out"
      >
        Where Soil Meets Soul and Nature Nurtures Us
      </p>
      <button
        class="btn-primary"
        data-aos="fade-up"
        data-aos-duration="1400"
        data-aos-delay="500"
        data-aos-easing="ease-in-out"
      >
        Discover More
      </button>
    </div>
  </div>
</section>
