main {
  min-height: calc(100vh - 4rem);
  padding: 1rem;
  background-color: var(--light-grayish-blue);
}

.empty-table-message {
  font-size: 25px;
  text-align: center;
  padding: 1rem;
  color: gray;
}

.error-image {
  width: 25%;
  height: 25%;
  padding: 1rem;
  position: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.table {
  overflow: auto;
}

tr th {
  font-weight: 400;
  text-align: center;
  color: var(--light);
  background-color: var(--primary);
}

tr td {
  font-weight: 400;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn-post,
.btn-clear {
  width: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: var(--light);
  cursor: pointer;
}

.btn-post {
  background-color: var(--primary);
}

.btn-clear {
  background-color: var(--red);
}

.layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.layout-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  cursor: pointer;
  user-select: none;
}

.layout-icon > span {
  font-size: 1.75rem;
}

.dialog-title {
  font-size: clamp(1.25rem, 1.4024rem + 0.4878vw, 1.5rem);
  font-weight: 400;
}

.dialog-body {
  font-size: clamp(1.125rem, 1.233rem + 0.3659vw, 1.25rem);
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-group > div {
  display: flex;
  flex-direction: column;
}

.required {
  color: var(--red);
}

.num-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.upload {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  gap: 0.5rem;
}

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 100%;
  height: 225px;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  overflow: hidden;
}

.error-border {
  border: 2px solid red;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image {
  display: none;
}

.img-active {
  display: block;
}

.btn-upload {
  position: relative;
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.25rem;
  color: var(--light);
  background-color: var(--primary);
  font-size: 1rem;
}

.file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.dialog-btn {
  width: 5.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.25rem;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0.25rem;
  transition: background-color 300ms ease-in;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background-color: var(--darker-primary);
}

.cancel {
  color: var(--light);
  background-color: var(--red);
}

.cancel:hover,
.cancel:focus {
  background-color: var(--darker-red);
}

.crop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.table-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.edit,
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  color: var(--light);
  cursor: pointer;
}

.edit {
  background-color: var(--blue);
}

.delete {
  background-color: var(--red);
}

@media screen and (min-width: 576px) {
  .actions {
    flex-direction: row;
  }
}
