<app-navbar></app-navbar>
<div class="container">
  <div class="role-container">
    <h3>Choose a User Type<span class="required">*</span></h3>
    <div class="type-container">
      <div class="types">
        <div class="img-container">
          <img src="../../../../../assets/images/farmer.png" alt="" />
        </div>
        <div class="type">
          <input type="radio" name="type" class="radio" />
          <div>FARMER</div>
        </div>
      </div>
      <div class="types">
        <div class="img-container">
          <img src="../../../../../assets/images/supplier.png" alt="" />
        </div>
        <div class="type">
          <input type="radio" name="type" class="radio" />
          <div>SUPPLIER</div>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="form-group">
      <div class="input-group">
        <label>First Name<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Middle Name</label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Last Name<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Suffix<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Gender<span class="required">*</span></label>
        <p-dropdown
          [options]="genders"
          placeholder="Select a gender"
          [style]="{
            width: '100%'
          }"
          appendTo="body"
        ></p-dropdown>
      </div>
      <div class="input-group">
        <label>Birthday<span class="required">*</span></label>
        <p-calendar
          [style]="{
            width: '100%'
          }"
        ></p-calendar>
      </div>
      <div class="input-group">
        <label>Unit<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Street<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Village<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Barangay<span class="required">*</span></label>
        <p-dropdown
          [options]="genders"
          placeholder="Select a gender"
          [style]="{
            width: '100%'
          }"
          appendTo="body"
        ></p-dropdown>
      </div>
      <div class="input-group">
        <label>City<span class="required">*</span></label>
        <p-dropdown
          [options]="genders"
          placeholder="Select a gender"
          [style]="{
            width: '100%'
          }"
          appendTo="body"
        ></p-dropdown>
      </div>
      <div class="input-group">
        <label>Region<span class="required">*</span></label>
        <p-dropdown
          [options]="genders"
          placeholder="Select a gender"
          [style]="{
            width: '100%'
          }"
          appendTo="body"
        ></p-dropdown>
      </div>
      <div class="input-group">
        <label>Zipcode<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Contact<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Email Address<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Username<span class="required">*</span></label>
        <input pInputText />
      </div>
      <div class="input-group">
        <label>Password<span class="required">*</span></label>
        <div class="password-container">
          <input
            pInputText
            [type]="password ? 'text' : 'password'"
            [style]="{
              width: '100%'
            }"
          />
          <div class="pass-icon" (click)="togglePassword()">
            <span class="material-symbols-rounded">
              {{ password ? "visibility" : "visibility_off" }}
            </span>
          </div>
        </div>
      </div>
      <div class="input-group">
        <label>Confirm Password<span class="required">*</span></label>
        <div class="password-container">
          <input
            pInputText
            [type]="confirmPassword ? 'text' : 'password'"
            [style]="{
              width: '100%'
            }"
          />
          <div class="pass-icon" (click)="toggleConfirmPassword()">
            <span class="material-symbols-rounded">
              {{ confirmPassword ? "visibility" : "visibility_off" }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
