<app-navbar></app-navbar>
<div class="container">
  <div class="alert" [class.error]="isError" *ngIf="alert">
    <span class="material-symbols-rounded" *ngIf="!isError"> done </span>
    <span class="material-symbols-rounded" *ngIf="isError"> error </span>
    {{ alertMessage }}
  </div>
  <div class="role-container">
    <h3>Choose a User Type<span class="required">*</span></h3>
    <div class="type-container" [class.mb]="!error">
      <div
        class="types"
        [class.border]="error"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="img-container">
          <img src="../../../../../assets/images/farmer.png" alt="" />
        </div>
        <div class="type">
          <input
            type="radio"
            name="type"
            class="radio"
            value="Farmer"
            [(ngModel)]="type"
            (ngModelChange)="onRoleChange($event)"
          />
          <div>FARMER</div>
        </div>
      </div>
      <div
        class="types"
        [class.border]="error"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="img-container">
          <img src="../../../../../assets/images/supplier.png" alt="" />
        </div>
        <div class="type">
          <input
            type="radio"
            name="type"
            class="radio"
            [(ngModel)]="type"
            value="Supplier"
            (ngModelChange)="onRoleChange($event)"
          />
          <div>SUPPLIER</div>
        </div>
      </div>
    </div>
  </div>

  <div class="error-types" [class.error-types-active]="error">
    <div *ngIf="role.invalid && (role?.dirty || role?.touched)">
      <small
        [style]="{ color: 'var(--red)' }"
        *ngIf="role?.errors?.['required']"
        >User type is required</small
      >
    </div>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group">
        <label>First Name<span class="required">*</span></label>
        <input pInputText formControlName="firstName" />
        <div
          *ngIf="firstName.invalid && (firstName?.dirty || firstName?.touched)"
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="firstName?.errors?.['required']"
            >First name is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Middle Name</label>
        <input pInputText formControlName="middleName" />
      </div>
      <div class="input-group">
        <label>Last Name<span class="required">*</span></label>
        <input pInputText formControlName="lastName" />
        <div *ngIf="lastName.invalid && (lastName?.dirty || lastName?.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="lastName?.errors?.['required']"
            >Last name is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Suffix</label>
        <input pInputText formControlName="suffix" />
      </div>
      <div class="input-group">
        <label>Gender<span class="required">*</span></label>
        <p-dropdown
          [options]="genders"
          placeholder="Select a gender"
          [style]="{
            width: '100%'
          }"
          appendTo="body"
          formControlName="gender"
        ></p-dropdown>
        <div *ngIf="gender.invalid && (gender?.dirty || gender.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="gender.errors?.['required']"
            >Gender is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Birthday<span class="required">*</span></label>
        <p-calendar
          [style]="{
            width: '100%',
          }"
          appendTo="body"
          [showIcon]="true"
          formControlName="birthdate"
        ></p-calendar>
        <div
          *ngIf="birthdate.invalid && (birthdate?.dirty || birthdate.touched)"
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="birthdate?.errors?.['required']"
            >Birthday is required</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="birthdate?.errors?.['futureDate']"
            >You cannot select a future date</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Unit No / House No<span class="required">*</span></label>
        <input pInputText formControlName="unit" />
        <div *ngIf="unit.invalid && (unit?.dirty || unit.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="unit.errors?.['required']"
            >Unit No / House No is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Street<span class="required">*</span></label>
        <input pInputText formControlName="street" />
        <div *ngIf="street.invalid && (street?.dirty || street.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="street.errors?.['required']"
            >Street is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label
          >Subdivision / Village / Bldg<span class="required">*</span></label
        >
        <input pInputText formControlName="village" />
        <div *ngIf="village.invalid && (village?.dirty || village.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="village.errors?.['required']"
            >Subdivision / Village / Bldg is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Region<span class="required">*</span></label>
        <p-dropdown
          [options]="regions"
          optionLabel="name"
          placeholder="Select a region"
          [style]="{
            width: '100%'
          }"
          appendTo="body"
          formControlName="region"
          [(ngModel)]="regionSelected"
          (ngModelChange)="onRegionChange($event)"
        ></p-dropdown>
        <div *ngIf="region.invalid && (region?.dirty || region.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="region.errors?.['required']"
            >Region is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Province<span class="required">*</span></label>
        <p-dropdown
          [options]="provinces"
          optionLabel="name"
          placeholder="Select a province"
          [style]="{
            width: '100%'
          }"
          appendTo="body"
          formControlName="province"
          [(ngModel)]="provinceSelected"
          (ngModelChange)="onProvinceChange($event)"
        ></p-dropdown>
        <div *ngIf="province.invalid && (province?.dirty || province.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="province.errors?.['required']"
            >Province is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>City<span class="required">*</span></label>
        <p-dropdown
          [options]="cities"
          optionLabel="name"
          placeholder="Select a city"
          [style]="{
            width: '100%'
          }"
          appendTo="body"
          formControlName="city"
          [(ngModel)]="citySelected"
          (ngModelChange)="onCityChange($event)"
        ></p-dropdown>
        <div *ngIf="city.invalid && (city?.dirty || city.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="city.errors?.['required']"
            >City is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Barangay<span class="required">*</span></label>
        <p-dropdown
          [options]="barangays"
          optionLabel="name"
          placeholder="Select a barangay"
          [style]="{
            width: '100%'
          }"
          appendTo="body"
          formControlName="barangay"
        ></p-dropdown>
        <div *ngIf="barangay.invalid && (barangay?.dirty || barangay.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="barangay.errors?.['required']"
            >Barangay is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Contact No<span class="required">*</span></label>
        <input pInputText formControlName="contact" />
        <div *ngIf="contact.invalid && (contact?.dirty || contact.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="contact.errors?.['required']"
            >Contact No is required</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="contact?.errors?.['mobileNoIsValid']"
            >Invalid mobile no. format</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Email Address<span class="required">*</span></label>
        <input pInputText formControlName="email" />
        <div *ngIf="email.invalid && (email?.dirty || email.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="email.errors?.['required']"
            >Email address is required</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="email.errors?.['email']"
            >Invalid email</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Username<span class="required">*</span></label>
        <input pInputText formControlName="username" />
        <div *ngIf="username.invalid && (username?.dirty || username.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="username.errors?.['required']"
            >Username is required</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Password<span class="required">*</span></label>
        <div class="password-container">
          <input
            pInputText
            [type]="pass ? 'text' : 'password'"
            [style]="{
              width: '100%'
            }"
            formControlName="password"
          />
          <div class="pass-icon" (click)="togglePassword()">
            <span class="material-symbols-rounded">
              {{ pass ? "visibility" : "visibility_off" }}
            </span>
          </div>
        </div>
        <div *ngIf="password.invalid && (password?.dirty || password.touched)">
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="password.errors?.['required']"
            >Password is required</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="password?.errors?.['passwordLength']"
            >Password should be at least 8 characters long</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="password?.errors?.['hasUppercase']"
            >Password should contain at least one uppercase letter</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="password?.errors?.['hasLowercase']"
            >Password should contain at least one lowercase letter</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="password?.errors?.['hasNumber']"
            >Password should contain atleast one number</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="password?.errors?.['hasSymbol']"
            >Password should contain at least one special character</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Confirm Password<span class="required">*</span></label>
        <div class="password-container">
          <input
            pInputText
            [type]="confirmPass ? 'text' : 'password'"
            [style]="{
              width: '100%'
            }"
            formControlName="confirmPassword"
          />
          <div class="pass-icon" (click)="toggleConfirmPassword()">
            <span class="material-symbols-rounded">
              {{ confirmPass ? "visibility" : "visibility_off" }}
            </span>
          </div>
        </div>
        <div
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword?.dirty || confirmPassword.touched)
          "
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="confirmPassword.errors?.['required']"
            >Confirm password is required</small
          >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="confirmPassword?.errors?.['passwordMismatch']"
            >Passwords does not match</small
          >
        </div>
      </div>
      <div class="input-group">
        <label>Front Id<span class="required">*</span></label>
        <div
          class="id-img-container {{ idFrontEmpty ? 'border' : 'show-border' }}"
        >
          <img
            src="{{ idFront }}"
            alt="Front Id"
            [class.show-img]="!idFrontPreview"
          />
        </div>
        <div
          *ngIf="filename2.invalid && (filename2?.dirty || filename2?.touched)"
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="filename2?.errors?.['required']"
            >Front id is required</small
          >
        </div>
        <button class="btn-upload">
          Upload<input
            type="file"
            class="file"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
        </button>
      </div>
      <div class="input-group">
        <label>Back Id<span class="required">*</span></label>
        <div
          class="id-img-container {{ idBackEmpty ? 'border' : 'show-border' }}"
        >
          <img
            src="{{ idBack }}"
            alt="Back Id"
            [class.show-img]="!idBackPreview"
          />
        </div>
        <div
          *ngIf="filename1.invalid && (filename1?.dirty || filename1?.touched)"
        >
          <small
            [style]="{ color: 'var(--red)' }"
            *ngIf="filename1?.errors?.['required']"
            >Back id is required</small
          >
        </div>
        <button class="btn-upload">
          Upload<input
            type="file"
            class="file"
            accept="image/*"
            (change)="onFileSelected1($event)"
          />
        </button>
      </div>
      <div class="input-group">
        <div *ngIf="!webcamImage">
          <webcam
            [height]="320"
            [width]="900"
            [trigger]="triggerObservable"
            [imageQuality]="0.85"
            (imageCapture)="handleImageCapture($event)"
            (initError)="handleInitError($event)"
          ></webcam>
        </div>
        <div *ngIf="webcamImage">
          <img [src]="webcamImage.imageAsDataUrl" alt="Captured Image" />
        </div>
        <button (click)="captureSelfie()" type="button">Capture Image</button>
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>

<app-footer></app-footer>
