nav {
  position: fixed;
  width: 100%;
  color: var(--light);
  background-color: var(--primary);
  z-index: 100;
  transition: background-color 200ms ease-in-out;
}

.container {
  height: 4.5rem;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
}

img {
  filter: invert(1);
  width: 5rem;
}

.logo > span {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
