<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="form">
      <h2>Welcome to Hacienda</h2>
      <p>Where no farmers are left behind</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="alert" *ngIf="isError">Invalid username or password</div>
        <div class="form-group">
          <div class="input-group">
            <label>Username<span class="required">*</span></label>
            <input pInputText formControlName="username" />
            <div
              *ngIf="username.invalid && (username?.dirty || username.touched)"
            >
              <small
                [style]="{ color: 'var(--red)' }"
                *ngIf="username.errors?.['required']"
                >Username is required</small
              >
            </div>
          </div>
          <div class="input-group">
            <label>Password<span class="required">*</span></label>
            <div class="password-container">
              <input
                pInputText
                [type]="pass ? 'text' : 'password'"
                [style]="{
                  width: '100%'
                }"
                formControlName="password"
              />
              <div class="pass-icon" (click)="togglePassword()">
                <span class="material-symbols-rounded">
                  {{ pass ? "visibility" : "visibility_off" }}
                </span>
              </div>
            </div>
            <div
              *ngIf="password.invalid && (password?.dirty || password.touched)"
            >
              <small
                [style]="{ color: 'var(--red)' }"
                *ngIf="password.errors?.['required']"
                >Password is required</small
              >
            </div>
          </div>
        </div>
        <div class="forgot">Forgot Password?</div>
        <button type="submit">LOGIN</button>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
