<app-navbar></app-navbar>

<section class="home-container">
  <img
    src="./assets/images/login-bg.jpg"
    class="home-image"
  />
  <div class="home-text">
    <div class="logo-container" style="text-align: center">
      <img src="assets/images/logo.png" />
    </div>
    <div class="card flex justify-content-center">
      <p-card
        header="Welcome to Hacienda"
        subheader="where no farmers are left behind"
        [style]="{ width: '360px'}"
      >
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="last">
              <div class="input-group">
                <label>Username<span class="required">*</span></label>
                <input pInputText formControlName="username" />
                <div
                  *ngIf="
                    username.invalid && (username?.dirty || username.touched)
                  "
                >
                  <small
                    [style]="{ color: 'var(--red)' }"
                    *ngIf="username.errors?.['required']"
                    >Username is required</small
                  >
                </div>
              </div>
              <div class="input-group">
                <label>Password<span class="required">*</span></label>
                <div class="password-container">
                  <input
                    pInputText
                    [type]="pass ? 'text' : 'password'"
                    [style]="{
                      width: '100%'
                    }"
                    formControlName="password"
                  />
                  <div class="pass-icon" (click)="togglePassword()">
                    <span class="material-symbols-rounded">
                      {{ pass ? "visibility" : "visibility_off" }}
                    </span>
                  </div>
                </div>
                <div
                  *ngIf="
                    password.invalid && (password?.dirty || password.touched)
                  "
                >
                  <small
                    [style]="{ color: 'var(--red)' }"
                    *ngIf="password.errors?.['required']"
                    >Password is required</small
                  >
                </div>
              </div>
           
            </div>
          </div>
        </form>

        <ng-template pTemplate="footer">
          <p class="forgot-password" style="padding-bottom: 15px;">Forgot password?</p>
          <p-button
            label="Login"
            icon="pi pi-check"
            [style]="{ width: '100%'}"
          ></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</section>
