<app-navbar></app-navbar>
<div class="custom-container">
  <div class="left-container">
    <div class="bg-container"></div>
  </div>
  <div class="right-container">
    <div class="logo-container">
      <img src="assets/images/logo.png" style="filter: invert(1);"/>
    </div>
    <!-- <div class="sub-text"> 
      <p>HACIENDA</p>
    </div> -->

    <!-- <div 
      class="alert alert-danger invalid-container"
      role="alert"
    >
      <p>Incorrect username or password.</p>
      <mat-icon class="icon-style">close </mat-icon>
    </div> -->

    <mat-card class="card-container">
      <form [formGroup]="loginForm" >
        <mat-card-content>
          <p>Username or ID number</p>
          <mat-form-field appearance="outline">
            <input matInput formControlName="username" />
            <mat-error
            >
              Username is required
            </mat-error>
          </mat-form-field>

          <p>Password</p>
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
            />
            <mat-icon matSuffix>
              {{ showPassword ? "visibility" : "visibility_off" }}
            </mat-icon>
            <mat-error
            >
              Password is required
            </mat-error>
          </mat-form-field>

          <p class="forgot-password">Forgot password?</p>
          <button
            mat-raised-button
            [disabled]="loginForm.invalid"
            class="color-button"
            type="submit"
          >
            Login
          </button>
        </mat-card-content>
      </form>
    </mat-card>

    <div class="card flex justify-content-center">
      <p-card header="Welcome to Hacienda" subheader="where no farmers are left behind" [style]="{ width: '360px' }">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
              quas!
          </p>
          <ng-template pTemplate="footer">
              <p-button label="Login" icon="pi pi-check"  [style]="{ 'width': '100%' }"></p-button>
          </ng-template>
      </p-card>
  </div>
  </div>
</div>
