section {
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("../../../../../assets/images/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 450px;
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--light);
}

h2 {
  font-size: clamp(1.5rem, 1.4024rem + 0.4878vw, 1.75rem);
  text-align: center;
  line-height: 1.2;
}

p {
  font-size: clamp(0.875rem, 0.8262rem + 0.2439vw, 1rem);
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 0.55rem;
}

.forgot {
  font-size: clamp(0.875rem, 0.8262rem + 0.2439vw, 1rem);
  text-align: right;
  cursor: pointer;
}

.forgot:hover {
  text-decoration: underline;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  font-size: clamp(0.875rem, 0.8262rem + 0.2439vw, 1rem);
}

.required {
  color: var(--red);
}

.password-container {
  position: relative;
}

span {
  color: var(--primary);
}

.pass-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.875rem;
  border-radius: 0.25rem;
  color: var(--light);
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 300ms ease-in;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--darker-primary);
}
