<section>
  <div class="container">
    <div class="gallery">
      <div class="gallery1">
        <div
          class="image-container"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          <img src="{{ image }}" alt="Gallery 1" />
        </div>
        <div class="gallery11">
          <div
            class="image-container"
            [class.border]="gallery1"
            (click)="onGallery1('../../../../../assets/images/gallery1.jpg')"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-easing="ease-in-out"
          >
            <img
              src="../../../../../assets/images/gallery1.jpg"
              alt="Gallery 2"
            />
          </div>
          <div
            class="image-container"
            [class.border]="gallery2"
            (click)="onGallery2('../../../../../assets/images/gallery2.jpg')"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-easing="ease-in-out"
          >
            <img
              src="../../../../../assets/images/gallery2.jpg"
              alt="Gallery 3"
            />
          </div>
        </div>
      </div>
      <div class="gallery2">
        <div
          class="image-container"
          [class.border]="gallery3"
          (click)="onGallery3('../../../../../assets/images/gallery3.jpg')"
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          <img
            src="../../../../../assets/images/gallery3.jpg"
            alt="Gallery 4"
          />
        </div>
        <div
          class="image-container"
          [class.border]="gallery4"
          (click)="onGallery4('../../../../../assets/images/gallery4.jpg')"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          <img
            src="../../../../../assets/images/gallery4.jpg"
            alt="Gallery 5"
          />
        </div>
        <div
          class="image-container"
          [class.border]="gallery5"
          (click)="onGallery5('../../../../../assets/images/gallery5.jpg')"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          <img
            src="../../../../../assets/images/gallery5.jpg"
            alt="Gallery 6"
          />
        </div>
      </div>
    </div>
    <div class="content">
      <h2
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        EMPOWERING AGRICULTURE
      </h2>
      <p
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="300"
        data-aos-easing="ease-in-out"
      >
        At Hacienda, we are committed to revolutionizing the agricultural
        landscape by fostering empowerment and growth. Our platform acts as a
        bridge, connecting farmers with suppliers, facilitating seamless
        transactions, and promoting efficient marketing endeavors. With a
        mission to uplift the agricultural community, Hacienda offers a dynamic
        space where farmers can seamlessly connect, collaborate, and flourish.
        Our vision is to empower agriculture through innovation, enabling
        farmers to embrace new opportunities and enhance their practices, all
        while streamlining the journey from farm to market.
      </p>
    </div>
  </div>
</section>
