<nav>
  <div class="container">
    <div class="logo" routerLink="/">
      <img src="../../../../assets/images/logo.png" alt="Logo" />
      <span>HACIENDA</span>
    </div>

    <div
      routerLink="/home#home"
      class="nav-list"
      [class.show-mobile-nav]="mobile"
      (click)="toggleMobile()"
    >
      <div class="nav-link" routerLink="/home" routerLinkActive="border">
        Home
      </div>
      <div class="nav-link" routerLink="/about" routerLinkActive="border">
        About
      </div>
      <div class="nav-link" routerLink="/contact" routerLinkActive="border">
        Contact Us
      </div>
      <div class="nav-link" routerLink="/register" routerLinkActive="border">
        Sign Up
      </div>
      <div class="nav-link" routerLink="/login" routerLinkActive="border">
        Login
      </div>

      <div class="close">
        <span class="material-symbols-rounded" id="close"> close </span>
      </div>
    </div>

    <div class="menu" (click)="toggleMobile()">
      <span class="material-symbols-rounded" id="menu"> menu </span>
    </div>
  </div>
</nav>
