<main>
  <div class="actions">
    <div class="btn-actions">
      <button class="btn-clear" (click)="onClear()">
        <span class="material-symbols-rounded"> restart_alt </span>CLEAR
      </button>
    </div>
    <div class="filter-container">
      <p-dropdown
        [options]="complaintTypes"
        placeholder="Filter by complaint type"
        [style]="{
          width: '100%',
          minWidth: '16rem',
            }"
        appendTo="body"
        [(ngModel)]="categorySelected"
        (ngModelChange)="onCategoryChange($event)"
      ></p-dropdown>
    </div>
  </div>
  <div class="table">
    <p-table
      *ngIf="complaints.length > 0; else emptyTableMessage"
      [value]="complaints"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '80rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
      paginatorDropdownAppendTo="body"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Image</th>
          <th style="width: 20%">Farmer Name</th>
          <th style="width: 15%">Complaint Type</th>
          <th style="width: 20%">Complaint Details</th>
          <th style="width: 15%">Date</th>
          <th style="width: 10%">Status</th>
          <th style="width: 10%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-complaint>
        <tr>
          <td>
            <div class="crop-wrapper">
              <div class="crop-container">
                <img
                  src="{{
                    complaint.image ||
                      '../../../../../assets/images/no-image.jpg'
                  }}"
                />
              </div>
            </div>
          </td>
          <td>
            {{ complaint.farmer.firstName }} {{ complaint.farmer.middleName }}
            {{ complaint.farmer.lastName }} {{ complaint.farmer.suffix }}
          </td>
          <td>{{ complaint.complaintType }}</td>
          <td>
            {{ complaint.complaintDetails }}
          </td>
          <td>
            {{ complaint.date | date : "MMMM d, y" }}
          </td>
          <td>
            <div class="status {{ complaint.status ? 'solve' : 'unsolve' }}">
              {{ complaint.status ? "Solved" : "Unsolved" }}
            </div>
          </td>
          <td>
            <div class="table-actions">
              <button
                class="btn-solve {{ complaint.status ? 'unsolve' : 'solve' }}"
                (click)="onRemove(complaint)"
              >
                <span class="material-symbols-rounded">
                  {{ complaint.status ? "thumb_down" : "thumb_up" }}
                </span>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #emptyTableMessage>
      <img
        src="{{ '../../../../../assets/images/no-content.png' }}"
        class="error-image"
      />
      <p class="empty-table-message">No complaints to display.</p>
    </ng-template>
  </div>

  <p-dialog
    [(visible)]="confirmationDialog"
    [modal]="true"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p-header>
      <div class="dialog-title">
        {{ complaint.status ? "Unsolve Complaint" : "Solve Complaint" }}
      </div>
    </p-header>
    <div class="dialog-body">
      Are you sure you want to {{ complaint.status ? "unsolve" : "solve" }} this
      complaint?
    </div>
    <div class="dialog-actions">
      <button class="dialog-btn cancel" (click)="onCloseConfirmationDialog()">
        Cancel
      </button>
      <button class="dialog-btn submit" (click)="onUpdateStatus()">Yes</button>
    </div>
  </p-dialog>
</main>
