<main>
  <ng-container *ngIf="gridLayout">
    <div class="card-container">
      <div class="card" *ngFor="let complaint of complaints">
        <div class="card-img-container">
          <img src="{{ complaint.image }}" alt="Complaint Image" />
        </div>
        <div class="card-content">
          <div>
            <div class="card-title">
              Complaint ID: {{ complaint.complaintId }}
            </div>
            <div class="category">{{ complaint.complaintType }}</div>
          </div>
          <div class="description">
            {{ complaint.complaintDetails }}
          </div>
          <div class="card-num-container">
            <div class="card-num">
              <span class="card-num-label">Date: </span>
              <div>{{ complaint.date | date : "medium" }}</div>
            </div>
            <div class="card-num">
              <span class="card-num-label">Status: </span>
              <div>{{ complaint.status ? "Active" : "Inactive" }}</div>
            </div>
          </div>
          <div class="card-actions">
            <button
              class="table-btn delete"
              title="Delete"
              (click)="onRemove(complaint)"
            >
              <span class="material-symbols-rounded"> delete </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="table" *ngIf="!gridLayout">
    <p-table
      [value]="complaints"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '80rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
      paginatorDropdownAppendTo="body"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Image</th>
          <th style="width: 10%">Farmer ID</th>
          <th style="width: 15%">Complaint Type</th>
          <th style="width: 25%">Complaint Details</th>
          <th style="width: 10%">Date</th>
          <th style="width: 10%">Status</th>
          <th style="width: 10%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-complaint>
        <tr>
          <td>
            <div class="crop-wrapper">
              <div class="crop-container">
                <img src="{{ complaint.image }}" />
              </div>
            </div>
          </td>
          <td>{{ complaint.farmerId }}</td>
          <td>{{ complaint.complaintType }}</td>
          <td>
            {{ complaint.complaintDetails }}
          </td>
          <td>
            {{ complaint.date | date : "medium" }}
          </td>
          <td>
            {{ complaint.status ? "Active" : "Solved" }}
          </td>
          <td>
            <div class="table-actions">
              <p-inputSwitch
                [(ngModel)]="complaint.status"
                (ngModelChange)="onStatusChanged(complaint)"
              ></p-inputSwitch>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="confirmationDialog"
    [modal]="true"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p-header>
      <div class="dialog-title">Confirmation of Complaint Status</div>
    </p-header>
    <div class="dialog-body">Is complaint solvedW?</div>
    <div class="dialog-actions">
      <button class="dialog-btn cancel" (click)="onCloseConfirmationDialog()">
        Cancel
      </button>
      <button class="dialog-btn submit" (click)="onUpdateStatus()">Yes</button>
    </div>
  </p-dialog>
</main>
