<main>
  <div class="timeline">
    <div class="icon icon1">
      <span class="material-symbols-rounded"> contract </span>
    </div>
    <div class="line line1"></div>
    <div class="icon icon2">
      <span class="material-symbols-rounded"> handshake </span>
    </div>
    <div class="line" [class.line2]="isPaid"></div>
    <div class="icon" [class.icon3]="isPaid">
      <span class="material-symbols-rounded"> payment </span>
    </div>
    <div class="line" [class.line3]="isDelivered"></div>
    <div class="icon icon4" [class.ic4]="isDelivered">
      <span class="material-symbols-rounded"> local_shipping </span>
    </div>
  </div>

  <div class="card-container">
    <div class="card flex justify-content-center" style="margin-bottom: 0px">
      <p-card header="Your order has been placed">
        <div class="card-content">
          <div>
            <div>
              <div class="m-1">Payment Reference Number</div>
              <div class="m-2">{{ paymentDetails?.paymentIdRef }}</div>
            </div>
          </div>
        </div>

        <ng-template pTemplate="title">
          <span
            class="material-symbols-rounded"
            style="
              color: var(--darker-primary);
              justify-content: center;
              align-items: center;
            "
          >
            done
          </span>
        </ng-template>
      </p-card>
    </div>
    <div class="role-container">
      <div class="card flex justify-content-center">
        <p-card header="Delivery Address">
          <p style="font-weight: 400">Order will be shipped to:</p>
          <p class="m-0">
            <ng-container *ngIf="this.changeAddress.transactionId === null">
              {{ user.firstName }}
              {{ user.middleName }} {{ user.lastName }}
              {{ user.suffix }}
            </ng-container>

            <ng-container *ngIf="this.changeAddress.transactionId !== null">
              {{ this.changeAddress.fullName }}
            </ng-container>
          </p>

          <ng-template pTemplate="title">
            <span
              class="material-symbols-rounded"
              style="
                color: var(--darker-primary);
                justify-content: center;
                align-items: center;
              "
            >
              location_on
            </span>
          </ng-template>

          <ng-template pTemplate="content">
            <p class="contact" style="font-weight: 500">
              <ng-container *ngIf="this.changeAddress.transactionId === null">
                {{ user.contact }}
              </ng-container>

              <ng-container *ngIf="this.changeAddress.transactionId !== null">
                {{ this.changeAddress.contact }}
              </ng-container>
            </p>
            <p style="font-weight: 500">
              <ng-container *ngIf="this.changeAddress.transactionId === null">
                {{ user.unit }}
                {{ user.street }}, {{ user.village }}, {{ user.barangay }}
                {{ user.city }}, {{ user.region }}
              </ng-container>

              <ng-container *ngIf="this.changeAddress.transactionId !== null">
                  {{ this.changeAddress.unit }}
                  {{ this.changeAddress.street }},
                  {{ this.changeAddress.village }},
                  {{ this.changeAddress.barangay }}
                  {{ this.changeAddress.city }}, {{ this.changeAddress.region }}
              </ng-container>
            </p>
          </ng-template>
        </p-card>
      </div>

      <div class="card1 flex justify-content-center">
        <p-card header="Order Details">
          <div class="card-content">
            <div>
              <div>
                <div class="m-1">Order Reference Number</div>
                <div class="m-2">{{ payment?.orderIdRef }}</div>
              </div>
              <div>
                <div class="m-1">Order Date</div>
                <div class="m-2">
                  {{ payment?.paymentDate | date : "MMMM d, y" }}
                  {{ convertTime(payment?.paymentTime) }}
                </div>
              </div>
              <div>
                <div class="m-1">Payment Method</div>
                <div class="m-2">{{ payment?.paymentMode }}</div>
              </div>
              <div>
                <div class="m-1">Estimated Delivery</div>
                <div class="m-2" *ngIf="transactions.deliverDate === null">
                  <ng-container *ngIf="transactions.deliverDate === null">
                    {{ todayDate | dateSecondAdd : 3 | date : "MMMM d" }}
                    to
                    {{ todayDate | dateSecondAdd : 6 | date : "MMMM d" }}
                  </ng-container>

                  <ng-container *ngIf="transactions.deliverDate !== null">
                    {{ transactions?.deliverDate | date : "MMMM d" }} to
                    {{
                      transactions.deliverDate
                        | dateSecondAdd : 3
                        | date : "MMMM d"
                    }}
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <ng-template pTemplate="title">
            <span
              class="material-symbols-rounded"
              style="
                color: var(--darker-primary);
                justify-content: center;
                align-items: center;
              "
            >
              info
            </span>
          </ng-template>
        </p-card>
      </div>

      <div class="card flex justify-content-center">
        <p-card header="Order Summary">
          <p class="m-0"></p>

          <ng-template pTemplate="title">
            <span
              class="material-symbols-rounded"
              style="
                color: var(--darker-primary);
                justify-content: center;
                align-items: center;
              "
            >
              receipt_long
            </span>
          </ng-template>

          <ng-template pTemplate="content">
            <div class="card2">
              <div class="img-container">
                <img
                  src="{{
                    post.image ||
                      '../../../../../../../assets/images/no-image.jpg'
                  }}"
                  alt="Crop"
                />
              </div>
              <div class="card-content">
                <div>
                  <div>
                    <div class="title">Crop Name</div>
                    <div class="data">
                      {{ post.name }}
                    </div>
                  </div>
                  <div>
                    <div class="title">Category</div>
                    <div class="data">
                      {{ post.category }}
                    </div>
                  </div>
                  <div>
                    <div class="title">Description</div>
                    <p class="data">
                      {{ post.description }}
                    </p>
                  </div>
                  <div>
                    <div class="title">
                      {{
                        offers.measurement === "Weight" ? "Weight" : "Quantity"
                      }}
                    </div>
                    <div class="data">
                      {{ offers.value }}
                      {{ offers.measurement === "Weight" ? "kg" : "" }}
                    </div>
                  </div>
                  <div>
                    <div class="title t1">Price</div>
                    <p class="data d1">
                      {{ offers.price | currency : "PHP" : "symbol" : "1.2-2" }}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-content cc">
              <div>
                <div>
                  <div class="title">Subtotal</div>
                  <div class="data">
                    {{ post.price | currency : "PHP" : "symbol" : "1.2-2" }}
                  </div>
                </div>
                <div>
                  <div class="title">Shipping</div>
                  <div class="data">(wala pa data)</div>
                </div>
                <div>
                  <div class="title t1">Total</div>
                  <div class="data d1">
                    {{ post.price | currency : "PHP" : "symbol" : "1.2-2" }}
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</main>
