<main>
  <div class="timeline">
    <div class="icon icon1">
      <span class="material-symbols-rounded"> contract </span>
    </div>
    <div class="line line1"></div>
    <div class="icon icon2">
      <span class="material-symbols-rounded"> handshake </span>
    </div>
    <div class="line" [class.line2]="isPaid"></div>
    <div class="icon" [class.icon3]="isPaid">
      <span class="material-symbols-rounded"> payment </span>
    </div>
    <div class="line" [class.line3]="isDelivered"></div>
    <div class="icon icon4" [class.ic4]="isDelivered">
      <span class="material-symbols-rounded"> local_shipping </span>
    </div>
  </div>

  <div class="card-container">
    <div
    class="card flex justify-content-center"
    style="margin-bottom: 0px"
    *ngIf="!transactions.deliveredDate"
  >
    <p-card header="Your order has been placed">
      <div class="card-content">
        <div>
          <div>
            <div class="m-1">Payment Reference Number</div>
            <div class="m-2">{{ paymentDetails?.paymentIdRef }}</div>
          </div>
        </div>
        <div>
          <div>
            <div class="m-1">Estimated Delivery</div>
            <div class="m-2">
              <ng-container *ngIf="transactions.deliverDate === null">
                {{ transactions.paidDate | date : "MMMM d, y" }}
                to
                {{
                  transactions.paidDate
                    | dateSecondAdd : 3
                    | date : "MMMM d, y"
                }}
              </ng-container>
  
              <ng-container *ngIf="transactions.deliverDate !== null">
                {{ transactions?.deliverDate | date : "MMMM d" }} to
                {{
                  transactions.deliverDate
                    | dateSecondAdd : 3
                    | date : "MMMM d"
                }}
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <ng-template pTemplate="title">
        <span
          class="material-symbols-rounded"
          style="
            color: var(--darker-primary);
            justify-content: center;
            align-items: center;
          "
        >
          done
        </span>
      </ng-template>
    </p-card>
  </div>
    <div
      class="card flex justify-content-center"
      style="margin-bottom: 0px"
      *ngIf="transactions.deliveredDate"
    >
      <p-card header="Your order was delivered">
        <div class="card-content">
          <div>
            <div>
              <div class="m-1">Payment Reference Number</div>
              <div class="m-2">{{ paymentDetails?.paymentIdRef }}</div>
            </div>
            <div>
              <div class="m-1">Date Delivered</div>
              <div class="m-2">
                {{ transactions?.deliveredDate | date : "MMMM d, y"}}
                {{ convertTime(transactions?.deliveredTime) }}
              </div>
            </div>
          </div>
        </div>

           <ng-template pTemplate="title">
          <span
            class="material-symbols-rounded"
            style="
              color: var(--darker-primary);
              justify-content: center;
              align-items: center;
              padding-left: 5px;
            "
          >
            local_shipping
          </span>
        </ng-template>
      </p-card>
    </div>
    <div class="role-container">
      <div class="card flex justify-content-center">
        <p-card header="Delivery Address">
          <p style="font-weight: 400">Order will be shipped to:</p>
          <p class="m-0">
            <ng-container *ngIf="changeAddress.transactionId === null">
              <div style="font-weight: 600">
                {{ user.firstName }}
                {{ user.middleName }} {{ user.lastName }}
              </div>
              <div>
                <p
                  style="
                    text-transform: uppercase;
                    font-weight: 600;
                    padding-left: 5px;
                  "
                >
                  {{ user.suffix }}
                </p>
              </div>
            </ng-container>

            <ng-container *ngIf="changeAddress.transactionId !== null">
              {{ changeAddress.fullName }}
            </ng-container>
          </p>

          <ng-template pTemplate="title">
            <span
              class="material-symbols-rounded"
              style="
                color: var(--darker-primary);
                justify-content: center;
                align-items: center;
              "
            >
              location_on
            </span>
          </ng-template>

          <ng-template pTemplate="content">
            <p class="contact" style="font-weight: 500">
              <ng-container *ngIf="changeAddress.transactionId === null">
                {{ user.contact }}
              </ng-container>

              <ng-container *ngIf="changeAddress.transactionId !== null">
                {{ changeAddress.contact }}
              </ng-container>
            </p>
            <p style="font-weight: 500">
              <ng-container *ngIf="changeAddress.transactionId === null">
                {{ user.unit }}
                {{ user.street }}, {{ user.village }}, {{ user.barangay }}
                {{ user.city }}, {{ this.user.province }},
                {{ user.region }}
              </ng-container>

              <ng-container *ngIf="changeAddress.transactionId !== null">
                {{ changeAddress.unit }}
                {{ changeAddress.street }}, {{ changeAddress.village }},
                {{ changeAddress.barangay }}
                {{ changeAddress.city }}, {{ changeAddress.province }},
                {{ changeAddress.region }}
              </ng-container>
            </p>
          </ng-template>
        </p-card>
      </div>

      <div class="card1 flex justify-content-center">
        <p-card header="Order Details">
          <div class="card-content">
            <div>
              <div>
                <div class="m-1">Order Reference Number</div>
                <div class="m-2">{{ payment?.orderIdRef }}</div>
              </div>
              <div>
                <div class="m-1">Order Date</div>
                <div class="m-2">
                  {{ payment?.paymentDate | date : "MMMM d, y" }}
                  {{ convertTime(payment?.paymentTime) }}
                </div>
              </div>
              <div>
                <div class="m-1">Payment Method</div>
                <div class="m-2">{{ payment?.paymentMode }}</div>
              </div>
            </div>
          </div>

          <ng-template pTemplate="title">
            <span
              class="material-symbols-rounded"
              style="
                color: var(--darker-primary);
                justify-content: center;
                align-items: center;
              "
            >
              info
            </span>
          </ng-template>
        </p-card>
      </div>

      <div class="card flex justify-content-center">
        <p-card header="Order Summary">
          <p class="m-0"></p>

          <ng-template pTemplate="title">
            <span
              class="material-symbols-rounded"
              style="
                color: var(--darker-primary);
                justify-content: center;
                align-items: center;
              "
            >
              receipt_long
            </span>
          </ng-template>

          <ng-template pTemplate="content">
            <div class="card2">
              <div class="img-container">
                <img
                  src="{{
                    post.image ||
                      '../../../../../../../assets/images/no-image.jpg'
                  }}"
                  alt="Crop"
                />
              </div>
              <div class="card-content">
                <div>
                  <div>
                    <div class="title">Crop Name</div>
                    <div class="data">
                      {{ post.name }}
                    </div>
                  </div>
                  <div>
                    <div class="title">Category</div>
                    <div class="data">
                      {{ post.category }}
                    </div>
                  </div>
                  <div>
                    <div class="title">Description</div>
                    <p class="data">
                      {{ post.description }}
                    </p>
                  </div>
                  <div>
                    <div class="title">
                      {{
                        offers.measurement === "Weight" ? "Weight" : "Quantity"
                      }}
                    </div>
                    <div class="data">
                      {{ offers.value }}
                      {{ offers.measurement === "Weight" ? "kg" : "" }}
                    </div>
                  </div>
                  <div>
                    <div class="title">Price</div>
                    <p class="data">
                      {{ offers.price | currency : "PHP" : "symbol" : "1.2-2" }}
                    </p>
                  </div>
                  <div>
                    <div class="title t1" style="font-weight: 500">
                      Amount Paid
                    </div>
                    <p class="data d1" style="font-weight: 600">
                      {{ offers.price | currency : "PHP" : "symbol" : "1.2-2" }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</main>
