main {
  position: relative;
  min-height: calc(100vh - 4rem);
  padding: 1rem;
  background-color: var(--light-grayish-blue);
  overflow: hidden;
}

.timeline {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto 1fr auto;
  place-items: center;
  margin: 0 auto 2.5rem;
  padding: 0 1rem;
}

.icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #c1c1c1;
}

.icon::before {
  position: absolute;
  width: max-content;
  bottom: -1.5rem;
  font-size: 0.875rem;
}

.icon1::before {
  content: "Offer";
}

.icon2::before {
  content: "Offer Summary";
}

.icon3::before {
  content: "Paid";
}

.icon4::before {
  content: "Delivered";
}

.icon1 {
  animation: changeBackgroundColor 0s ease 0s forwards;
}

.icon2 {
  animation: changeBackgroundColor 0s ease 0s forwards;
}

.icon3 {
  animation: changeBackgroundColor 0s ease 0s forwards;
}

.ic4 {
  animation: changeBackgroundColor 0s ease 0s forwards;
}

.line {
  width: 100%;
  height: 0.25rem;
  background-color: var(--primary);
  transform: scale(0);
  transform-origin: left;
}

.line1 {
  animation: expand 0s ease forwards;
}

.line2 {
  animation: expand 0.5s ease 1.5s forwards;
}

.line3 {
  animation: expand 0s ease forwards;
}

span {
  font-size: 1.75rem;
  color: var(--light);
  user-select: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--light);
}

.payment-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.payment-option {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 2px solid var(--primary);
}

.payment-option > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radio {
  width: 1.25rem;
  height: 1.25rem;
}

.img-container {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #c1c1c1;
  }
  100% {
    background-color: var(--primary);
  }
}

@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .timeline {
    width: 90%;
  }
}

.m-0 {
  font-weight: 600;
}

.m-1 {
  font-weight: 400;
}

.m-2 {
  font-weight: 600;
  text-align: start;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 0.15rem 0.15rem var(--darker-primary);
}

.card1 {
  margin-bottom: 20px;
  box-shadow: 0 0.15rem 0.15rem var(--darker-primary);
  flex-direction: row;
}

.card2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  border-radius: 0.25rem;
  background-color: var(--light);
}

.img-container {
  width: 100%;
  height: 240px;
  border-radius: 0.25rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-content-offer {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
}

.card-content-offer > div > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.title-offer,
.data-offer {
  padding: 0.77rem 1rem;
}

.title-offer {
  font-weight: 400;
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.t1 {
  border-bottom: none;
}

.d1 {
  border-bottom: 2px solid var(--primary);
}

.data-offer {
  border-left: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.card-content {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
}

.card-content > div > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.title,
.data {
  padding: 0.77rem 1rem;
}

.title {
  font-weight: 400;
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.t1 {
  border-bottom: none;
}

.d1 {
  border-bottom: 2px solid var(--primary);
}

.data {
  border-left: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.cc {
  width: max-content;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .card2 {
    grid-template-columns: auto 1fr;
  }

  .card-content > div > div {
    grid-template-columns: clamp(12rem, 15rem, 18rem) 1fr;
    text-align: left;
  }

  .img-container {
    width: 100%;
    height: 260px;
  }

  .data {
    border-left: none;
  }

  .t1 {
    border-bottom: 2px solid var(--primary);
  }

  .data-offer {
    border-left: none;
  }

  .type-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .dialog-btn {
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}
