main {
  min-height: calc(100vh - 4rem);
  padding: 1rem 1.5rem;
  background-color: var(--light-grayish-blue);
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.filter {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.search-container {
  position: relative;
}

span {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.course-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--light);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: clamp(1.5rem, 1.4024rem + 0.4878vw, 1.75rem);
  font-weight: 400;
  line-height: 1.2;
}

.description {
  font-size: clamp(1rem, 0.9512rem + 0.2439vw, 1.125rem);
}

.empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.img-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.empty-message {
  font-size: clamp(1.5rem, 1.4024rem + 0.4878vw, 1.75rem);
  color: gray;
}

@media screen and (min-width: 992px) {
  .course {
    flex-direction: row;
    gap: 1.5rem;
  }

  .content {
    padding: 1rem 0;
  }
}
