<main>
  <div class="table">
    <div class="actions">
      <button class="btn-clear" (click)="onClear()">
        <span class="material-symbols-rounded"> restart_alt </span>CLEAR
      </button>
      <div class="filter-container">
        <p-dropdown
          [options]="statusArr"
          placeholder="Filter by status"
          [style]="{
          width: '100%',
          minWidth: '16rem',
            }"
          appendTo="body"
          [(ngModel)]="statusSelected"
          (ngModelChange)="onStatusChanges($event)"
        ></p-dropdown>

        <div class="search-container">
          <span class="material-symbols-rounded icon"> search </span>
          <input
            type="text"
            pInputText
            placeholder="Search"
            [style]="{
              width: '100%',
              minWidth: '16rem',
              paddingLeft: '2.75rem'
            }"
            placeholder="Search"
            [(ngModel)]="search"
            (ngModelChange)="onSearchChange($event)"
          />
        </div>
      </div>
    </div>
    <p-table
      *ngIf="suppliers.length > 0; else emptyTableMessage"
      [value]="suppliers"
      [paginator]="true"
      [rows]="6"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '80rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
      paginatorDropdownAppendTo="body"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Image</th>
          <th style="width: 25%">First Name</th>
          <th style="width: 15%">Middle Name</th>
          <th style="width: 20%">Last Name</th>
          <th style="width: 15%">Status</th>
          <th style="width: 15%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-supplier>
        <tr>
          <td>
            <div class="crop-wrapper">
              <div class="crop-container">
                <img
                  src="{{
                    supplier.image ||
                      '../../../../../../../assets/images/blank-profile.jpg'
                  }}"
                />
              </div>
            </div>
          </td>
          <td style="text-transform: capitalize">{{ supplier.firstName }}</td>
          <td style="text-transform: capitalize">
            {{ supplier.middleName }}
          </td>
          <td style="text-transform: capitalize">
            {{ supplier.lastName }}
          </td>
          <td>
            <div
              class="status {{
                supplier.status === 'Active'
                  ? 'active'
                  : supplier.status === 'Inactive'
                  ? 'inactive'
                  : 'pending'
              }}"
            >
              {{ supplier.status }}
            </div>
          </td>
          <td>
            <div class="table-actions">
              <button
                class="btn-details"
                title="View Details"
                (click)="openDetailsDialog(supplier)"
              >
                <span class="material-symbols-rounded"> person </span>
              </button>
              <button
                class="btn-deactivate {{
                  supplier.status === 'Active' ? 'inactive' : 'active'
                }}"
                [title]="
                  supplier.status === 'Active' ? 'Deactivate' : 'Activate'
                "
                (click)="onDelete(supplier)"
              >
                <span class="material-symbols-rounded">
                  {{ supplier.status === "Active" ? "close" : "check" }}</span
                >
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #emptyTableMessage>
      <img
        src="{{ '../../../../../assets/images/no-content.png' }}"
        class="error-image"
      />
      <p class="empty-table-message">No Suppliers to display.</p>
    </ng-template>
  </div>

  <p-dialog
    [(visible)]="confirmationDialog"
    [modal]="true"
    [breakpoints]="{ '600px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p-header>
      <div class="dialog-title">
        {{ supplier.status === "Active" ? "Deactivate" : "Activate" }}
      </div>
    </p-header>
    <div class="dialog-body">
      Are you sure you want to
      {{ supplier.status === "Active" ? "deactivate" : "activate" }} this
      supplier?
    </div>
    <div class="dialog-actions">
      <button class="dialog-btn cancel" (click)="onCancelDelete()">
        Cancel
      </button>
      <button class="dialog-btn submit" (click)="onConfirmDelete()">
        Confirm
      </button>
    </div>
  </p-dialog>

  <p-dialog
    [(visible)]="detailsDialog"
    [modal]="true"
    [breakpoints]="{ '600px': '90vw' }"
    [style]="{ width: '80vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p-header>
      <div class="dialog-title">Supplier Information</div>
    </p-header>
    <div class="card">
      <div class="card-img-container">
        <div class="c-img-container">
          <img [src]="supplier.idFront" alt="Front Id" />
        </div>
        <div class="c-img-container">
          <img [src]="supplier.idBack" alt="Back Id" />
        </div>
        <div class="c-img-container">
          <img [src]="supplier.selfie" alt="Selfie" />
        </div>
      </div>
      <div class="card-content">
        <div>
          <div class="title">ID number</div>
          <div class="data">{{ supplier.idNumber }}</div>
        </div>
        <div>
          <div class="title">Name</div>
          <div class="data-0">
            <div class="data-1" style="text-transform: capitalize">
              {{ supplier.firstName }} {{ supplier.middleName || "" }}
              {{ supplier.lastName }} {{ supplier.suffix || "" }}
            </div>
            <div class="data-2" style="text-transform: uppercase">
              {{ supplier.suffix }}
            </div>
          </div>
        </div>
        <div>
          <div class="title">Gender</div>
          <div class="data">{{ supplier.gender }}</div>
        </div>
        <div>
          <div class="title">Birthday</div>
          <p class="data">
            {{ supplier.birthdate | date : "MMMM d, y" }}
          </p>
        </div>
        <div>
          <div class="title">Email</div>
          <div class="data">{{ supplier.email }}</div>
        </div>
        <div>
          <div class="title">Contact Number</div>
          <div class="data">{{ supplier.contact }}</div>
        </div>
        <div>
          <div class="title t1">Address</div>
          <div class="data d1" style="text-transform: capitalize">
            {{ supplier.unit }}, {{ supplier.street }}, {{ supplier.village }},
            {{ supplier.barangay }}, {{ supplier.city }},
            {{ supplier.province }},
            {{ supplier.region }}
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-actions">
      <button class="dialog-btn submit" (click)="closeDetailsDialog()">
        OK
      </button>
    </div>
  </p-dialog>

  <p-toast></p-toast>
</main>
