main {
  min-height: calc(100vh - 4rem);
  padding: 1rem;
  background-color: var(--light-grayish-blue);
}

.inactive-row {
  background-color: #7c5252;
}

.table {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--light);
  overflow: auto;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

tr th {
  font-weight: 400;
  text-align: center;
  color: var(--light);
  background-color: var(--primary);
}

tr td {
  font-weight: 400;
  text-align: center;
}

.btn-clear {
  width: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: var(--light);
  background-color: var(--red);
  transition: background-color 200ms ease-in;
  cursor: pointer;

  &:hover {
    background-color: var(--darker-red);
  }
}

.dialog-title {
  font-size: clamp(1.25rem, 0.91rem + 1.2195vw, 1.5rem);
}

.dialog-body {
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.125rem);
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.dialog-btn {
  width: 7rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0.25rem;
  transition: background-color 300ms ease-in;
  cursor: pointer;
  font-size: 1rem;

  &:hover,
  &:focus {
    background-color: var(--darker-primary);
  }
}

.cancel {
  color: var(--light);
  background-color: var(--red);

  &:hover,
  &:focus {
    background-color: var(--darker-red);
  }
}

.crop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop-container {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.crop-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.edit,
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  color: var(--light);
  cursor: pointer;
}

.edit {
  background-color: var(--blue);
}

.delete {
  background-color: var(--red);
}

.status {
  width: 5.25rem;
  padding: 0.35rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  color: var(--light);
}

.active {
  background-color: var(--primary);
}

.inactive {
  background-color: var(--red);
}

@media screen and (min-width: 576px) {
  .actions {
    flex-direction: row;
  }
}

.profile {
  min-height: calc(100vh - 4rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "image"
    "personal"
    "additional";
  gap: 1rem;
  padding: 1rem;
  background-color: var(--light-grayish-blue);
}

.personal {
  grid-area: personal;
  padding: 1.5rem;
  background-color: var(--light);
}

.personal > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.title,
.data {
  padding: 0.77rem 1rem;
}

.title {
  font-weight: 400;
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.t1 {
  border-bottom: none;
}

.d1 {
  border-bottom: 2px solid var(--primary);
}

.data {
  border-left: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}
