<footer>
  <div class="container">
    <div class="grid1">
      <div class="logo">
        <div class="img-container">
          <img src="../../../../assets/images/logo.png" alt="Logo" />
        </div>
        <span
          >HACIENDA
          <div>No Farmers Left Behind</div></span
        >
      </div>
    </div>
    <div>
      <div class="title">Navigation</div>
      <div class="footer-links">
        <div>Home</div>
        <div>About</div>
        <div>Services</div>
        <div>Contact Us</div>
      </div>
    </div>
    <div>
      <div class="title">Support</div>
      <div class="support">
        <div>Telephone: (02) 8742-5321</div>
        <div>Mobile: +63 921 830 9168</div>
        <div>Email: Hacienda2023@gmail.com</div>
      </div>
    </div>
  </div>
  <div class="copyright">© 2023 Hacienda for Revalida, All Rights Reserved</div>
</footer>
