<main>
  <div class="actions">
    <div class="btn-actions">
      <button class="btn-post" (click)="openAddDialog()">
        <span class="material-symbols-rounded"> add </span>POST
      </button>
      <button class="btn-clear" (click)="onClear()">
        <span class="material-symbols-rounded"> restart_alt </span>CLEAR
      </button>
    </div>
    <div class="filter-container">
      <p-dropdown
        [options]="categories"
        placeholder="Filter by category"
        [style]="{
          width: '100%',
          minWidth: '16rem',
            }"
        appendTo="body"
        [(ngModel)]="categorySelected"
        (ngModelChange)="onCategoryChange($event)"
      ></p-dropdown>
    </div>
  </div>

  <ng-container>
    <div class="card-container" [class.card-container1]="gridTwo">
      <ng-container *ngFor="let ad of ads">
        <div class="card" *ngIf="ad.status">
          <div class="card-image">
            <img src="{{ ad.image }}" alt="Crop" />
          </div>
          <div class="card-content">
            <div class="card-header">
              <p class="card-title">{{ ad.name }}</p>
              <div class="card-actions">
                <button class="edit" title="Edit" (click)="onEdit(ad)">
                  <span class="material-symbols-rounded"> edit </span>
                </button>
                <button class="delete" title="Delete" (click)="onRemove(ad)">
                  <span class="material-symbols-rounded"> delete </span>
                </button>
              </div>
            </div>
            <div class="card-category">{{ ad.category }}</div>
            <p class="card-description">{{ ad.description }}</p>
            <div class="card-nums">
              <div class="card-num">
                <span class="key">Quantity</span>
                <span class="value">{{ ad.quantity }} pcs</span>
              </div>
              <div class="card-num">
                <span class="key">Mass</span>
                <span class="value">{{ ad.mass }} kg</span>
              </div>
              <div class="card-num">
                <span class="key">Price</span>
                <span class="value">₱ {{ ad.price }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="pagination">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [rows]="6"
        [totalRecords]="totalAds"
      ></p-paginator>
    </div>
  </ng-container>
</main>

<p-dialog
  [(visible)]="addDialog"
  [modal]="true"
  [breakpoints]="{ '992px': '90vw', }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="dialog-title">Post Advertisement</div>
  </p-header>
  <form [formGroup]="adForm" (ngSubmit)="onSubmit()">
    <div class="alert" *ngIf="alert">
      <span class="material-symbols-rounded"> error </span>
      {{ alertMessage }}
    </div>
    <div class="form-container">
      <div class="upload">
        <div class="img-container" [class.error-border]="emptyImage">
          <img
            [src]="imagePreview"
            alt="Crop"
            class="image"
            [class.img-active]="showImage"
          />
        </div>
        <button class="btn-upload">
          Upload<input
            type="file"
            class="file"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
        </button>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label>Crop Name<span class="required">*</span></label>
          <input pInputText formControlName="name" />
          <div *ngIf="name.invalid && (name?.dirty || name?.touched)">
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="name?.errors?.['required']"
              >Crop name is required</small
            >
          </div>
        </div>
        <div class="input-group">
          <label>Category<span class="required">*</span></label>
          <p-dropdown
            [options]="categories"
            placeholder="Select a category"
            [style]="{
              width: '100%',
            }"
            appendTo="body"
            formControlName="category"
          ></p-dropdown>
          <div
            *ngIf="category.invalid && (category?.dirty || category?.touched)"
          >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="category?.errors?.['required']"
              >Category is required</small
            >
          </div>
        </div>
        <div class="input-group">
          <label>Description<span class="required">*</span></label>
          <textarea
            rows="2"
            cols="30"
            pInputTextarea
            formControlName="description"
          ></textarea>
          <div
            *ngIf="
              description.invalid &&
              (description?.dirty || description?.touched)
            "
          >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="description?.errors?.['required']"
              >Description is required</small
            >
          </div>
        </div>
        <div class="num-group">
          <div class="input-group">
            <label>Quantity<span class="required">*</span></label>
            <p-inputNumber
              inputId="minmax"
              inputId="minmax"
              mode="decimal"
              [min]="1"
              [max]="100000"
              [style]="{
                width: '100%'
              }"
              formControlName="quantity"
            >
            </p-inputNumber>
            <div
              *ngIf="quantity.invalid && (quantity?.dirty || quantity?.touched)"
            >
              <small
                [style]="{ color: 'var(--red)' }"
                *ngIf="quantity?.errors?.['required']"
                >Quantity is required</small
              >
            </div>
          </div>
          <div class="input-group">
            <label>Mass<span class="required">*</span></label>
            <p-inputNumber
              inputId="locale-user"
              [minFractionDigits]="2"
              [style]="{
                width: '100%'
              }"
              formControlName="mass"
            ></p-inputNumber>
            <div *ngIf="mass.invalid && (mass?.dirty || mass?.touched)">
              <small
                [style]="{ color: 'var(--red)' }"
                *ngIf="mass?.errors?.['required']"
                >Mass is required</small
              >
            </div>
          </div>
          <div class="input-group">
            <label>Price<span class="required">*</span></label>
            <p-inputNumber
              inputId="locale-user"
              [minFractionDigits]="2"
              [style]="{
                width: '100%'
              }"
              formControlName="price"
            ></p-inputNumber>
            <div *ngIf="price.invalid && (price?.dirty || price?.touched)">
              <small
                [style]="{ color: 'var(--red)' }"
                *ngIf="price?.errors?.['required']"
                >Price is required</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-actions">
      <button
        type="button"
        class="dialog-btn cancel"
        (click)="closeAddDialog()"
      >
        Cancel
      </button>
      <button type="submit" class="dialog-btn submit">Save</button>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="confirmationDialog"
  [modal]="true"
  [breakpoints]="{ '600px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="dialog-title">Delete</div>
  </p-header>
  <div class="dialog-body">
    Are you sure you want to delete this advertisement?
  </div>
  <div class="dialog-actions">
    <button class="dialog-btn cancel" (click)="onCloseConfirmationDialog()">
      Cancel
    </button>
    <button class="dialog-btn submit" (click)="onDelete()">Yes</button>
  </div>
</p-dialog>

<p-toast></p-toast>
