main {
  position: relative;
  min-height: calc(100vh - 4rem);
  padding: 1rem;
  background-color: var(--light-grayish-blue);
}

.filter {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.search-container {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-actions {
  display: flex;
  gap: 0.5rem;
}

.btn-post,
.btn-clear {
  width: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: var(--light);
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}

.btn-post {
  background-color: var(--primary);
}

.btn-post:hover,
.btn-post:focus {
  background-color: var(--darker-primary);
}

.btn-clear {
  background-color: var(--red);
}

.btn-clear:hover,
.btn-clear:focus {
  background-color: var(--darker-red);
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.search-container {
  position: relative;
}

.search-container > span {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #333;
}

.dialog-title {
  font-size: clamp(1.25rem, 1.4024rem + 0.4878vw, 1.5rem);
  font-weight: 400;
}

.dialog-body {
  font-size: clamp(1.125rem, 1.233rem + 0.3659vw, 1.25rem);
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-group > div {
  display: flex;
  flex-direction: column;
}

.required {
  color: var(--red);
}

.num-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
}

.upload {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  gap: 0.5rem;
}

.img-container {
  width: 100%;
  height: 240px;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  overflow: hidden;
}

.error-border {
  border: 2px solid red;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  display: none;
}

.img-active {
  display: block;
}

.btn-upload {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  color: var(--light);
  background-color: var(--primary);
  font-size: 1rem;
}

.file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.dialog-btn {
  width: 5.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.25rem;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0.25rem;
  transition: background-color 300ms ease-in;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background-color: var(--darker-primary);
}

.cancel {
  color: var(--light);
  background-color: var(--red);
}

.cancel:hover,
.cancel:focus {
  background-color: var(--darker-red);
}

.crop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--light);
}

.c-img-container {
  width: 100%;
  height: 280px;
  border-radius: 0.25rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card-view,
.card-edit,
.card-delete {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 1.85rem;
  border-radius: 0.25rem;
  color: var(--light);
  background-color: var(--primary);
  font-size: 1rem;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}

.card-view:hover,
.card-view:focus {
  background-color: var(--darker-primary);
}

.card-edit {
  padding: 0.625rem 2rem;
  background-color: var(--blue);
}

.card-edit:hover,
.card-edit:focus {
  background-color: var(--darker-blue);
}

.card-delete {
  padding: 0.625rem 1.35rem;
  background-color: var(--red);
}

.card-delete:hover,
.card-delete:focus {
  background-color: var(--darker-red);
}

.card-content {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
}

.card-content > div > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.title,
.data {
  padding: 0.77rem 1rem;
}

.title {
  font-weight: 400;
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.t1 {
  border-bottom: none;
}

.d1 {
  border-bottom: 2px solid var(--primary);
}

.data {
  border-left: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
}

.pagination {
  width: 100%;
}

.alert {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--light);
  background-color: var(--red);
  overflow: hidden;
  margin-bottom: 1rem;
}

.alert > span {
  color: var(--light);
}

.empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.empty-img-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.empty-message {
  font-size: clamp(1.5rem, 1.4024rem + 0.4878vw, 1.75rem);
  color: gray;
}

.badge {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--light);
  background-color: var(--red);
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  .num-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .img-container,
  .btn-upload {
    width: 50%;
  }

  .img-container {
    height: 300px;
  }

  .dialog-btn {
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .actions {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    grid-template-columns: auto 1fr;
  }

  .card-content > div > div {
    grid-template-columns: clamp(12rem, 15rem, 18rem) 1fr;
    text-align: left;
  }

  .c-img-container {
    width: 370px;
    height: 100%;
  }

  .data {
    border-left: none;
  }

  .t1 {
    border-bottom: 2px solid var(--primary);
  }

  .filter-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .card-actions {
    flex-direction: row;
  }

  .card-view,
  .card-edit,
  .card-delete {
    width: auto;
  }
}
