<main>
  <div class="actions">
    <div class="btn-actions">
      <button class="btn-clear" (click)="onClear()">
        <span class="material-symbols-rounded"> restart_alt </span>CLEAR
      </button>
    </div>
    <div class="filter-container">
      <p-dropdown
        [options]="categories"
        placeholder="Filter by category"
        [style]="{
          width: '100%',
          minWidth: '16rem',
            }"
        appendTo="body"
        [(ngModel)]="categorySelected"
        (ngModelChange)="onCategoryChange($event)"
      ></p-dropdown>
    </div>
  </div>

  <ng-container>
    <div class="card-container" [class.card-container1]="gridTwo">
      <ng-container *ngFor="let ad of ads">
        <div class="card" *ngIf="ad.status">
          <div class="card-image">
            <img src="{{ ad.image }}" alt="Crop" />
          </div>
          <div class="card-content">
            <div class="card-header">
              <p class="card-title">{{ ad.name }}</p>
              <div class="card-actions">
                <button class="accept" title="Accept">
                  <span class="material-symbols-rounded"> thumb_up </span>
                </button>
              </div>
            </div>
            <div class="card-category">{{ ad.category }}</div>
            <p class="card-description">{{ ad.description }}</p>
            <div class="card-nums">
              <div class="card-num">
                <span class="key">Quantity</span>
                <span class="value">{{ ad.quantity }} pcs</span>
              </div>
              <div class="card-num">
                <span class="key">Mass</span>
                <span class="value">{{ ad.mass }} kg</span>
              </div>
              <div class="card-num">
                <span class="key">Price</span>
                <span class="value">₱ {{ ad.price }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="pagination">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [rows]="6"
        [totalRecords]="totalAds"
      ></p-paginator>
    </div>
  </ng-container>
</main>
