<main>
  <div class="actions">
    <div class="btn-actions">
      <button class="btn-clear" (click)="onClear()">
        <span class="material-symbols-rounded"> restart_alt </span>CLEAR
      </button>
    </div>
    <div class="filter-container">
      <p-dropdown
        [options]="categories"
        placeholder="Filter by category"
        [style]="{
          width: '100%',
          minWidth: '16rem',
            }"
        appendTo="body"
        [(ngModel)]="categorySelected"
        (ngModelChange)="onCategoryChange($event)"
      ></p-dropdown>

      <div class="search-container">
        <span class="material-symbols-rounded icon"> search </span>
        <input
          type="text"
          pInputText
          placeholder="Search"
          [style]="{
            width: '100%',
            minWidth: '16rem',
            paddingLeft: '2.75rem'
          }"
          placeholder="Search"
          [(ngModel)]="search"
          (ngModelChange)="onSearchChange($event)"
        />
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let ad of ads">
      <div class="card-img-container">
        <div class="img-container">
          <img
            src="{{
              ad.image || '../../../../../../../assets/images/no-image.jpg'
            }}"
            alt="Crop"
          />
        </div>
        <button
          class="{{ ad.isOffered ? 'offered' : 'noOffer' }}"
          (click)="onOffer(ad)"
        >
          <span class="material-symbols-rounded"> contract </span
          >{{ ad.isOffered ? "Offered" : "Make an Offer" }}
        </button>
      </div>
      <div class="card-content">
        <div>
          <div class="title">Supplier Name</div>
          <div class="data">
            {{ ad.supplier.firstName }} {{ ad.supplier.middleName }}
            {{ ad.supplier.lastName }} {{ ad.supplier.suffix }}
          </div>
        </div>
        <div>
          <div class="title">Supplier Contact No</div>
          <div class="data">
            {{ ad.supplier.contact }}
          </div>
        </div>
        <div>
          <div class="title">Crop Name</div>
          <div class="data">{{ ad.name }}</div>
        </div>
        <div>
          <div class="title">Category</div>
          <div class="data">{{ ad.category }}</div>
        </div>
        <div>
          <div class="title">Description</div>
          <p class="data">
            {{ ad.description }}
          </p>
        </div>
        <div>
          <div class="title">
            {{ ad.measurement === "Weight" ? "Weight" : "Quantity" }}
          </div>
          <div class="data">
            {{ ad.value }} {{ ad.measurement === "Weight" ? "kg" : "" }}
          </div>
        </div>
        <div>
          <div class="title t1">Price</div>
          <p class="data d1">
            {{ ad.price | currency : "PHP" : "symbol" : "1.2-2" }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination" *ngIf="ads.length > 0">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="5"
      [totalRecords]="totalAds"
    ></p-paginator>
  </div>

  <ng-container *ngIf="ads.length === 0">
    <div class="empty">
      <div class="empty-img-container">
        <img
          src="{{ '../../../../../assets/images/no-content.png' }}"
          class="error-image"
        />
      </div>
      <p class="empty-message">No advertisement to display</p>
    </div>
  </ng-container>
</main>

<p-dialog
  [(visible)]="paymentDialog"
  [modal]="true"
  [breakpoints]="{ '600px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="dialog-title">Setup your Payment Account</div>
  </p-header>
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmitPayment()">
    <div class="form-container">
      <div class="form-group">
        <div class="input-group">
          <label>Account Number<span class="required">*</span></label>
          <input pInputText pKeyFilter="int" formControlName="accountNumber" />
          <div
            *ngIf="
              paymentForm.get('accountNumber')?.invalid &&
              (paymentForm.get('accountNumber')?.dirty ||
                paymentForm.get('accountNumber')?.touched)
            "
          >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="paymentForm.get('accountNumber')?.errors?.['required']"
              >Account Number is required</small
            >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="paymentForm.get('accountNumber')?.errors?.['minlength']"
              >Minimum length is 8</small
            >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="paymentForm.get('accountNumber')?.errors?.['maxlength']"
              >Maximum length is 17</small
            >
          </div>
        </div>
        <div class="input-group">
          <label>Account Name<span class="required">*</span></label>
          <input pInputText formControlName="accountName" />
          <div
            *ngIf="
              paymentForm.get('accountName')?.invalid &&
              (paymentForm.get('accountName')?.dirty ||
                paymentForm.get('accountName')?.touched)
            "
          >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="paymentForm.get('accountName')?.errors?.['required']"
              >Account Name is required</small
            >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="paymentForm.get('accountName')?.errors?.['minlength']"
              >Minimum length is 3</small
            >
            <small
              [style]="{ color: 'var(--red)' }"
              *ngIf="paymentForm.get('accountName')?.errors?.['maxlength']"
              >Maximum length is 80</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-actions">
      <button
        type="button"
        class="dialog-btn cancel"
        (click)="onCancelPaymentDialog()"
      >
        Cancel
      </button>
      <button type="submit" class="dialog-btn submit">Save</button>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="confirmationDialog"
  [modal]="true"
  [breakpoints]="{ '600px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="dialog-title">Offer</div>
  </p-header>
  <div class="dialog-body">
    Are you sure you want to make an offer on this advertisement?
  </div>
  <div class="dialog-actions">
    <button class="dialog-btn cancel" (click)="onCancelConfirmationDialog()">
      Cancel
    </button>
    <button class="dialog-btn submit" (click)="onConfirm()">Confirm</button>
  </div>
</p-dialog>
