<section>
  <div class="container">
    <div class="header">
      <h2
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        Meet Our Team
      </h2>
      <p
        class="sub"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        "Get to know the faces behind our success"
      </p>
    </div>
    <div class="team-container">
      <div
        class="team"
        data-aos="fade-right"
        data-aos-duration="1400"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="img-container">
          <img src="../../../../../assets/images/team1.jpg" alt="Team 1" />
        </div>
        <div class="name">
          <h4>Ryan Wilson</h4>
          <div class="subtitle">Farmyard Coordinator</div>
        </div>
      </div>
      <div
        class="team"
        data-aos="fade-up"
        data-aos-duration="1400"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="img-container">
          <img src="../../../../../assets/images/team2.jpg" alt="Team 2" />
        </div>
        <div class="name">
          <h4>Jil Peterson</h4>
          <div class="subtitle">Farmyard Coordinator</div>
        </div>
      </div>
      <div
        class="team"
        data-aos="fade-left"
        data-aos-duration="1400"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="img-container">
          <img src="../../../../../assets/images/team3.jpg" alt="Team 3" />
        </div>
        <div class="name">
          <h4>Sam Robinson</h4>
          <div class="subtitle">Farmyard Coordinator</div>
        </div>
      </div>
    </div>
  </div>
</section>
