section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

h3 {
  font-size: clamp(1.5rem, 1.4024rem + 0.4878vw, 1.75rem);
  font-weight: 400;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

span {
  color: red;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-group > div {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0.25rem;
  transition: background-color 300ms ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--darker-primary);
}

@media screen and (min-width: 768px) {
  section {
    grid-template-columns: 1.25fr 0.75fr;
    padding-right: 1.5rem;
  }
}
