:root {
  --primary: rgb(35, 203, 143);
  --darker-primary: rgb(43, 172, 126);
  --yellow: rgb(240, 189, 61);
  --orange: rgb(253, 127, 77);
  --red: rgb(241, 87, 112);
  --darker-red: rgb(226, 79, 104);
  --blue: rgb(94, 161, 238);
  --darker-blue: rgb(72, 134, 206);
  --purple: rgb(205, 69, 240);
  --aquamarine: rgb(58, 205, 231);
  --light: rgb(255, 255, 255);
  --semi-light: rgb(237, 239, 244);
  --gray: rgb(226, 226, 226);
  --light-grayish-blue: #eff2fa;
  --light-black: #454545;
  --border: rgb(206, 212, 218);
}
