<main>
  <div class="actions">
    <button class="btn-post" (click)="openAddTipDialog()">
      <span class="material-symbols-rounded"> add </span>POST TIP
    </button>
    <div class="layout-container">
      <div class="layout-icon" title="Grid">
        <span class="material-symbols-rounded"> grid_view </span>
      </div>
      <div class="layout-icon" title="Table">
        <span class="material-symbols-rounded"> table </span>
      </div>
    </div>
  </div>
  <!-- Grid layout for farming tips -->
  <ng-container *ngIf="!gridLayout">
    <div class="card-container">
      <div class="card" *ngFor="let tip of tips">
        <div class="card-img-container">
          <img src="{{ tip.image }}" alt="Tip" />
        </div>
        <div class="card-content">
          <div class="card-title">{{ tip.tip }}</div>
          <div class="description">
            {{ tip.description }}
          </div>
          <div class="card-actions">
            <button
              class="table-btn edit"
              title="Edit"
              (click)="onEditTip(tip)"
            >
              <span class="material-symbols-rounded"> edit </span>
            </button>
            <button
              class="table-btn delete"
              title="Delete"
              (click)="onRemove(tip)"
            >
              <span class="material-symbols-rounded"> delete </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="table" *ngIf="!gridLayout">
    <p-table
      [value]="tips"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '80rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 20, 30]"
      paginatorDropdownAppendTo="body"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Image</th>
          <th style="width: 70%">Tip</th>
          <th style="width: 20%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tip>
        <ng-container *ngIf="tip.status">
          <tr>
            <td>
              <div class="tip-wrapper">
                <div class="tip-container">
                  <img src="{{ tip.image }}" />
                </div>
              </div>
            </td>
            <td>{{ tip.tip }}</td>
            <td>
              <div class="table-actions">
                <button
                  class="table-btn edit"
                  title="Edit"
                  (click)="onEditTip(tip)"
                >
                  <span class="material-symbols-rounded"> edit </span>
                </button>
                <button
                  class="table-btn delete"
                  title="Delete"
                  (click)="onRemove(tip)"
                >
                  <span class="material-symbols-rounded"> delete </span>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </div>
  <p-dialog
    [(visible)]="addDialog"
    [modal]="true"
    [breakpoints]="{ '992px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p-header>
      <div class="dialog-title">Post Farming Tip</div>
    </p-header>
    <form [formGroup]="tipForm" (ngSubmit)="onSubmit()">
      <div class="form-container">
        <div class="upload">
          <div class="banner">
            <div class="img-container" [class.error-border]="emptyImage">
              <img
                [src]="imagePreview"
                alt="Tip"
                class="image"
                [class.img-active]="showImage"
              />
            </div>
          </div>
          <button class="btn-upload">
            Upload<input
              type="file"
              class="file"
              accept="image/*"
              (change)="onFileSelected($event)"
            />
          </button>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label>Tip<span class="required">*</span></label>
            <textarea
              rows="2"
              cols="30"
              pInputTextarea
              formControlName="tip"
            ></textarea>
            <div *ngIf="tip.invalid && (tip?.dirty || tip?.touched)">
              <small
                [style]="{ color: 'var(--red)' }"
                *ngIf="tip?.errors?.['required']"
              >
                Tip is required
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="dialog-actions">
        <button
          type="button"
          class="dialog-btn cancel"
          (click)="closeAddDialog()"
        >
          Cancel
        </button>
        <button type="submit" class="dialog-btn submit">Save</button>
      </div>
    </form>
  </p-dialog>

  <!-- Confirmation Dialog -->
  <p-dialog
    [(visible)]="confirmationDialog"
    [modal]="true"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p-header>
      <div class="dialog-title">Delete</div>
    </p-header>
    <div class="dialog-body">
      Are you sure you want to delete this farming tip?
    </div>
    <div class="dialog-actions">
      <button class="dialog-btn cancel" (click)="onCloseConfirmationDialog()">
        Cancel
      </button>
      <button class="dialog-btn submit" (click)="onDelete()">Yes</button>
    </div>
  </p-dialog>
</main>
