<section>
  <div class="container">
    <div class="images">
      <div
        class="img-container"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <img src="../../../../../assets/images/banana.png" alt="Crop" />
        <span>Bananas</span>
      </div>
      <div
        class="img-container"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <img src="../../../../../assets/images/potato.png" alt="Crop" />
        <span>Potatoes</span>
      </div>
      <div
        class="img-container"
        data-aos="fade-up"
        data-aos-duration="1400"
        data-aos-delay="300"
        data-aos-easing="ease-in-out"
      >
        <img src="../../../../../assets/images/carrots.png" alt="Crop" />
        <span>Carrots</span>
      </div>
      <div
        class="img-container"
        data-aos="fade-up"
        data-aos-duration="1600"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <img src="../../../../../assets/images/strawberries.png" alt="Crop" />
        <span>Strawberries</span>
      </div>
    </div>
    <div class="content-container">
      <div class="content">
        <div
          class="title"
          data-aos="fade-left"
          data-aos-duration="1800"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          <span>01</span>NO ADDITIVES
        </div>
        <p
          data-aos="fade-up"
          data-aos-duration="2000"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          We avoid any artificial additives after harvesting the crops to offer
          you the best organic products.
        </p>
      </div>
      <div class="content">
        <div
          class="title"
          data-aos="fade-left"
          data-aos-duration="2200"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          <span>02</span>MODERN FARM
        </div>
        <p
          data-aos="fade-up"
          data-aos-duration="2400"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          Though we rely on traditional organic farming a lot, we also use the
          latest farming innovations.
        </p>
      </div>
      <div class="content">
        <div
          class="title"
          data-aos="fade-left"
          data-aos-duration="1200"
          data-aos-delay="300"
          data-aos-easing="ease-in-out"
        >
          <span>03</span>100% ORGANIC
        </div>
        <p
          data-aos="fade-up"
          data-aos-duration="1200"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          We adhere to our organic philosophy, which implies avoiding pesticides
          and non-organic fertilizers.
        </p>
      </div>
      <div class="content">
        <div
          class="title"
          class="title"
          data-aos="fade-left"
          data-aos-duration="1200"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          <span>04</span>ALWAYS FRESH
        </div>
        <p
          data-aos="fade-up"
          data-aos-duration="1200"
          data-aos-delay="100"
          data-aos-easing="ease-in-out"
        >
          Thanks to innovative organic technologies, our products are always
          fresh and don’t need any treatment.
        </p>
      </div>
    </div>
  </div>
</section>
