<main>
  <div class="actions">
    <div class="btn-actions">
      <button class="btn-clear" (click)="onClear()">
        <span class="material-symbols-rounded"> restart_alt </span>CLEAR
      </button>
    </div>
    <div class="filter-container">
      <p-dropdown
        [options]="categories"
        placeholder="Filter by category"
        [style]="{
          width: '100%',
          minWidth: '16rem',
            }"
        appendTo="body"
        [(ngModel)]="categorySelected"
        (ngModelChange)="onCategoryChange($event)"
      ></p-dropdown>

      <div class="search-container">
        <span class="material-symbols-rounded icon"> search </span>
        <input
          type="text"
          pInputText
          placeholder="Search"
          [style]="{
            width: '100%',
            minWidth: '16rem',
            paddingLeft: '2.75rem'
          }"
          placeholder="Search"
          [(ngModel)]="search"
          (ngModelChange)="onSearchChange($event)"
        />
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let offer of offers">
      <div class="card-img-container">
        <div class="img-container">
          <img
            src="{{
              offer.advertisement.image ||
                '../../../../../../../assets/images/no-image.jpg'
            }}"
            alt="Crop"
          />
        </div>
        <button
          class="{{ offer.isAccepted ? 'accepted' : 'not-accepted' }}"
          (click)="onCancelOffer(offer)"
        >
          <span class="material-symbols-rounded" *ngIf="offer.isAccepted">
            handshake
          </span>
          <span class="material-symbols-rounded" *ngIf="!offer.isAccepted">
            cancel
          </span>
          {{ offer.isAccepted ? "Accepted" : "Cancel Offer" }}
        </button>
      </div>
      <div class="card-content">
        <div>
          <div class="title">Supplier Name</div>
          <div class="data">
            {{ offer.supplier.firstName }} {{ offer.supplier.middleName }}
            {{ offer.supplier.lastName }} {{ offer.supplier.suffix }}
          </div>
        </div>
        <div>
          <div class="title">Supplier Contact No</div>
          <div class="data">
            {{ offer.supplier.contact }}
          </div>
        </div>
        <div>
          <div class="title">Crop Name</div>
          <div class="data">{{ offer.advertisement.name }}</div>
        </div>
        <div>
          <div class="title">Category</div>
          <div class="data">{{ offer.advertisement.category }}</div>
        </div>
        <div>
          <div class="title">Description</div>
          <p class="data">
            {{ offer.advertisement.description }}
          </p>
        </div>
        <div>
          <div class="title">
            {{
              offer.advertisement.measurement === "Weight"
                ? "Weight"
                : "Quantity"
            }}
          </div>
          <div class="data">
            {{ offer.advertisement.value }}
            {{ offer.advertisement.measurement === "Weight" ? "kg" : "" }}
          </div>
        </div>
        <div>
          <div class="title t1">Price</div>
          <p class="data d1">₱ {{ offer.price }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination" *ngIf="offers.length > 0">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="5"
      [totalRecords]="totalOffers"
    ></p-paginator>
  </div>

  <ng-container *ngIf="offers.length === 0">
    <div class="empty">
      <div class="empty-img-container">
        <img
          src="{{ '../../../../../assets/images/no-content.png' }}"
          class="error-image"
        />
      </div>
      <p class="empty-message">No offers to display</p>
    </div>
  </ng-container>
</main>

<p-dialog
  [(visible)]="confirmationDialog"
  [modal]="true"
  [breakpoints]="{ '600px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <div class="dialog-title">Cancel Offer</div>
  </p-header>
  <div class="dialog-body">Are you sure you want to cancel this offer?</div>
  <div class="dialog-actions">
    <button class="dialog-btn cancel" (click)="onCancelConfirmationDialog()">
      Cancel
    </button>
    <button class="dialog-btn submit" (click)="onConfirm()">Confirm</button>
  </div>
</p-dialog>
